.buttonC {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;

  &.primary {
    background: var(--red-primary);
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-primary);

    @include hover {
      background: var(--red-primary-hover);
    }
  }

  &.footerMain {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--black-primary);
    text-transform: uppercase;
    text-align: center;
    padding: 14px 0;
    width: 100%;
    background: var(--white-primary);


    @include hover {
      background: var(--red-primary-hover);
      color: var(--white-primary);
    }
  }

  &.mobileHome {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--red-primary);
    padding-top: 19px;
    padding-bottom: 20px;
    width: 100%;
    color: var(--black-primary);
  }

  &.also {
    background: var(--white-primary);
    color: var(--black-primary);
    border: 1px solid var(--red-primary);
    padding: 15px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    width: 100%;
    text-transform: uppercase;

    @include hover {
      background: var(--red-primary);
      color: var(--white-primary);
    }
  }
}

.caretC {
  position: relative;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: 2px;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 7px;
    height: 2px;
    transition: all 0.3s ease-out;

    background-color: var(--black-primary);

    transform: translate(-2px, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(2px, -50%) rotate(-45deg);
  }

  &.caretC-rotate {

    &::before,
    &::after {
      background-color: var(--white-primary);

      transform: translate(-2px, -50%) rotate(-45deg);
    }

    &::after {
      transform: translate(2px, -50%) rotate(45deg);
    }
  }
}


.inputC {

  &.primary {

    input,
    textarea {
      border-radius: 0;
      font-size: 16px;
      line-height: 160%;

      background: var(--white-secondary);
      width: 100%;
      padding: 14px 20px;
      border: none;
      outline: none;

      @include mobile {
        padding: 14px 15px;
      }

      &::placeholder {
        opacity: 0.7;
      }

      @include hover {
        background: var(--white-secondary-hover);

        &::placeholder {
          opacity: 1;
        }
      }

      &:focus {
        background: var(--white-secondary-hover);

        &::placeholder {
          opacity: 1;
        }
      }

      &.error {
        color: var(--red-primary);
        background: var(--red-error);
      }
    }

    textarea {
      resize: none;
      height: 108px;

    }
  }
}

.copyrightC {
  font-size: 12px;
  line-height: 160%;
  opacity: 0.7;
  color: var(--black-primary);

  a {
    text-decoration: underline;
    color: var(--black-primary);
    @include hover {
      opacity: 0.5;
    }
  }
}

.titleC {

  &.primary {
    font-weight: 500;
    font-size: 46px;
    line-height: 160%;
    text-transform: uppercase;

    @include tablet {
      font-size: 36px;
    }

    @include mobile {
      font-size: 28px;
    }

    h1 {
      margin: 0;
      font-weight: 500;
      font-size: 46px;
      line-height: 160%;
      text-transform: uppercase;

      @include tablet {
        font-size: 36px;
      }

      @include mobile {
        font-size: 28px;
      }
    }
  }

  &.secondary {
    font-weight: 500;
    font-size: 32px;
    line-height: 160%;
    text-transform: uppercase;

    @include mobile {
      font-size: 28px;
    }
  }
}

.textC {

  &.service {


    p {
      margin: 0 0 2em;
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;

      @include mobile {
        font-size: 16px;
      }
    }
  }


  &.company {
    max-width: 1208px;
    margin: 0 auto;



    h6 {
      font-weight: 500;
      font-size: 32px;
      line-height: 160%;
      text-transform: uppercase;
      margin: 0 0 40px;

      @include mobile {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }

    p {
      margin: 0 0 2em;
      max-width: 1132px;
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;

      @include mobile {
        font-size: 16px;
      }
    }
  }








}

.itemC {
  position: relative;


  &.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      text-transform: uppercase;
      color: var(--black-primary);
      @include transitionMain;

      @include tablet {
        max-width: 316px;
      }
    }

    @include hover {

      span {
        color: var(--red-primary);
      }
    }
  }


  &.product {
    overflow: hidden;

    .itemC {


      &__button {

        &--price {
          position: absolute;
          font-weight: 500;
          font-size: 14px;
          line-height: 160%;
          text-align: center;
          text-transform: uppercase;
          color: var(--white-primary);
          top: 0;
          left: 0;
          background: var(--black-primary);
          padding: 22px 0;
          width: 100%;
          transform: translateY(-101%);
          @include transitionMain;
          z-index: var(--z-index-button-item-catalog);

        }

        &--compare {
          position: relative;
          background: #F9F9F9;
          border-radius: 100px;
          height: 50px;
          width: 50px;

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 19px;
            fill: #292D32;
          }

          @include hover {
            background: var(--red-primary);

            svg {
              fill: var(--white-primary);
            }
          }
        }
      }

      &__image {
        img {
          max-height: 364px;
        }
      }

      &__row {
        display: flex;
        padding: 24px 20px 16px;
        align-items: center;
        justify-content: space-between;
      }

      &__word {
        max-width: 268px;
        color: var(--black-primary);
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        text-transform: uppercase;
        @include transitionMain;

        @include tablet {
          font-size: 14px;
        }

      }


    }

    @include hover {

      .itemC__word {
        color: var(--red-primary);
      }

      .itemC__button--price {
        transform: translateY(0%);
      }

      .itemC__image {

        img {
          transform: scale(0.8, 0.8);
        }
      }

    }
  }

  &.News {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--black-primary);

    img {
      max-height: 430px;
      margin-bottom: 10px;

      @include big-desktop {
        max-height: 430px;
      }

      @include small-tablet {
        max-height: 362px;
      }

      @include mobile {
        max-height: 346px;
      }

    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      opacity: 0.6;
    }
    h6 {
      flex-grow: 1;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      margin: 0 0 6px;
      text-transform: uppercase;
      @include transitionMain;
    }

    p {
      margin: 0px;
      font-weight: 300;
      font-size: 16px;
      line-height: 160%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @include hover {
      h6 {
        color: var(--red-primary);
      }
    }
  }
}

.breadcrumbs {

  &.primary {
    margin-top: 20px;
    margin-bottom: 60px;

    @include tablet {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 40px;
    }

    span > a {
      font-weight: 400;
      font-size: 13px;
      line-height: 1.4;
      opacity: 0.8;
      color: var(--black-primary);

      @include small-tablet {
        font-size: 12px;
      }

      @include hover {
        opacity: 1;
      }
    }

    .separator {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      opacity: 0.8;

      @include small-tablet {
        font-size: 12px;
      }
    }

    .last-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      opacity: 0.8;
      cursor: not-allowed;

      @include small-tablet {
        font-size: 12px;
      }
    }
  }

}

.title__container--company {
  display: flex;
  justify-content: center;
  @include mbAll(75, 50, 40);
}

.videoC {

  &.primary {
    position: relative;
    display: flex;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      cursor: pointer;
    }
  }
}

.fileC {

  &.primary {
    display: flex;
    align-items: center;
    gap: 20px;

    svg {
      min-width: 39px;
      max-width: 39px;
      min-height: 50px;
      max-height: 50px;
    }

    span {
      font-size: 16px;
      line-height: 140%;
      text-decoration-line: underline;
      transition: all 0.2s ease;
      color: var(--black-primary);
    }

    @include hover {

      span {
        color: var(--red-primary);
      }
    }
  }
}

.pagination {

  &.primary {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;

    .page-item {


      &.active {

        .page-numbers {
          border: 1px solid var(--red-primary);

        }
      }

      .page-numbers {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-width: 54px;
        max-width: 54px;
        min-height: 54px;
        max-height: 54px;
        border-radius: 100px;
        border: 1px solid var(--white-third);
        font-weight: 500;
        font-size: 15px;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--black-primary);
        background: var(--white-primary);
        &.prev {

          i {
            content: "";
            width: 8px;
            height: 8px;
            border: solid var(--black-primary);
            border-width: 2px 0 0 2px;
            transform: translate(-50%, -50%) rotate(-45deg);
            position: absolute;
            left: 52%;
            top: 50%;
            transition: all 0.2s ease;
          }
        }

        &.next {

          i {
            content: "";
            width: 8px;
            height: 8px;
            border: solid var(--black-primary);
            border-width: 2px 0 0 2px;
            transform: translate(-50%, -50%) rotate(135deg);
            position: absolute;
            left: 48%;
            top: 50%;
            transition: all 0.2s ease;
          }
        }

        &.next-max {
          i {
            &:first-child {
              content: "";
              width: 8px;
              height: 8px;
              border: solid var(--black-primary);
              border-width: 2px 0 0 2px;
              transform: translate(-50%, -50%) rotate(135deg);
              position: absolute;
              left: 58%;
              top: 50%;
              transition: all 0.2s ease;
            }

            &:last-child {
              content: "";
              width: 8px;
              height: 8px;
              border: solid var(--black-primary);
              border-width: 2px 0 0 2px;
              transform: translate(-50%, -50%) rotate(135deg);
              position: absolute;
              left: 38%;
              top: 50%;
              transition: all 0.2s ease;
            }
          }
        }

        &.prev-max {

          i {
            &:first-child {
              content: "";
              width: 8px;
              height: 8px;
              border: solid var(--black-primary);
              border-width: 2px 0 0 2px;
              transform: translate(-50%, -50%) rotate(-45deg);
              position: absolute;
              left: 60%;
              top: 50%;
              transition: all 0.2s ease;
            }

            &:last-child {
              content: "";
              width: 8px;
              height: 8px;
              border: solid var(--black-primary);
              border-width: 2px 0 0 2px;
              transform: translate(-50%, -50%) rotate(-45deg);
              position: absolute;
              left: 40%;
              top: 50%;
              transition: all 0.2s ease;
            }
          }
        }

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        @include hover {

          &:not(.disabled) {
            background: var(--red-primary);
            color: var(--white-primary);

            i {
              border: solid var(--white-primary);
              border-width: 2px 0 0 2px;

              &:first-child {
                border: solid var(--white-primary);
                border-width: 2px 0 0 2px;
              }

              &:last-child {
                border: solid var(--white-primary);
                border-width: 2px 0 0 2px;
              }
            }
          }

        }


      }
    }
  }
}

.filterC {

  &.primary {
    background: var(--white-secondary);
    border-radius: 4px;
    position: relative;
    .filterC {

      &__button {
        display: none;

        @include tablet {
          display: block;
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          text-transform: uppercase;
          padding-left: 21px;
          padding-top: 20px;
          padding-bottom: 19px;
          color: var(--black-primary);
          position: relative;
          text-align: left;

          &::after {
            content: "";
            width: 6px;
            height: 6px;
            border: solid var(--black-primary);
            border-width: 1px 0 0 1px;
            -ms-transform: translate(0, -50%) rotate(-135deg);
            transform: translate(0, -50%) rotate(-135deg);
            position: absolute;
            right: 20px;
            top: 45%;

            transition: all 0.4s ease;

            @include mobile {
              right: 15px;
            }
          }



          &.open {
            &::after {
              top: 49%;
              transform: translate(0, -50%) rotate(-315deg);
            }
          }
        }

        @include mobile {
          padding-top: 22px;
          padding-bottom: 21px;
          font-size: 14px;
        }
      }

      &__block {
        padding-bottom: 20px;
        @include tablet {
          position: absolute;
          transition: all 0.3s ease-in-out;
          opacity: 0;
          visibility: hidden;
          padding-bottom: 30px;
          z-index: var(--z-index-tabs-dropdown);
          background: var(--white-secondary);
          width: 100%;

          &.open {
            opacity: 1;
            visibility: visible;
          }
        }

        &--name {
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          text-transform: uppercase;
          color: var(--black-primary);
          opacity: 0.7;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 10px;
          @include tablet {
            display: none;
          }
        }

        &--cancel {
          padding-left: 19px;
          margin-top: 64px;
          font-weight: 500;
          font-size: 13px;
          line-height: 150%;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: var(--black-primary);

          @include tablet {
            margin-top: 94px;
          }

          @include hover {
            color: var(--red-primary);
          }
        }

      }
    }
  }
}

.dropdownC {

  &.dropdownC--filters {
    border-bottom: 1px solid #E0E0E0;
    .dropdownC {

      &__btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--black-primary);
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 21px;
        position: relative;
        width: 100%;

        @include mobile {
          font-size: 14px;
        }


        &::after {
          content: "";
          width: 6px;
          height: 6px;
          border: solid var(--black-primary);
          border-width: 1px 0 0 1px;
          transform: translate(0, -50%) rotate(-135deg);
          position: absolute;
          right: 20px;
          top: 45%;

          transition: all 0.4s ease;

          @include mobile {
            right: 15px;
          }
        }

        @include hover {
          background: var(--white-secondary-hover);
        }

        &.open {

          background: var(--white-secondary-hover);
          &::after {
            top: 49%;
            transform: translate(0, -50%) rotate(-315deg);
          }
        }
      }

      &__nav {
        margin: 0;
        list-style: none;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        overflow: hidden;
        padding: 0;
        max-height: 0;
        box-sizing: content-box;
        opacity: 0;
        transition: all 0.3s ease-out;
        will-change: max-height;


        &.open {
          padding: 20px 0;
          opacity: 1;
        }
      }
    }
  }
}

.checkboxC {

  &.checkboxC--primary {
    display: flex;
    align-items: center;
    padding-left: 19px;

    width: 100%;
    input[type="checkbox"],
    input[type="radio"] {
      --active: var(--red-primary);
      --active-inner: #fff;
      --border: var(--primary4);
      --border-hover: var(--primary4);
      --background: #EEEEEE;
      --disabled: #f6f8ff;
      --disabled-inner: #e1e6f9;

      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 0;
      outline: none;
      border: none;
      min-width: 23px;
      max-width: 23px;
      min-height: 23px;
      max-height: 23px;
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
      }

      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);

        & + label {
          color: var(--red-primary);
        }
      }

      &:not(.switch) {

        &::after {
          opacity: var(--o, 0);
        }

        &:checked {
          --o: 1;
        }
      }

      & + label {
        display: block;
        font-style: normal;
        font-weight: 500;
        width: 100%;
        font-size: 15px;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        color: var(--black-primary);
        margin-top: 2px;
        transition: all 0.2s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        padding-left: 16px;

        @include mobile {
          font-size: 13px;
          margin-top: 0;
        }




        &.active {
          color: var(--red-primary);
        }
      }

      &:disabled {
        --b: var(--disabled);

        opacity: 0.9;
        cursor: not-allowed;

        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
      }
    }

    input[type="checkbox"] {
      &:not(.switch) {
        border-radius: 6px;

        &::after {
          left: 8px;
          top: 5px;
          border: 2px solid var(--active-inner);
          border-radius: 0px;
          border-top: 0;
          border-left: 0;
          width: 7px;
          height: 10px;
          transform: rotate(var(--r, 20deg));
        }

        &:checked {
          --r: 43deg;
        }
      }
    }
  }
}

.mb-150-primary {
  margin-bottom: 150px;

  @include tablet {
    margin-bottom: 130px;
  }

  @include mobile {
    margin-bottom: 100px;
  }
}

.mb-250-primary {
  margin-bottom: 250px;

  @include big-desktop {
    margin-bottom: 150px;
  }

  @include tablet {
    margin-bottom: 130px;
  }

  @include mobile {
    margin-bottom: 100px;
  }
}
