// страница навигацией по всему сайту

.index__container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.index__title {
  color: black;
  text-align: center;
  font-size: 1.5em;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


.index__cont {
  display: flex;
  width: 100%;
  gap: 1rem;
  @include mobile {
    flex-direction: column;
    gap: 0;
  }
}

.index__box {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px;
  background-color: #EDE7E1;
  border-radius: 4px;
  max-width: 700px;

  @include mobile {
    max-width: 100%;
  }

  &.not-ready {

  }
}


.btn__index {
  width: 100%;
  display: block;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background: black;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 1rem 0;

  @include mobile {
    margin: 1rem 0;
  }

  }

.btn__index:hover {
  background-color: #03603b;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.not-ready {
  background-color: rgb(81, 81, 81);
  border: 1px solid rgb(81, 81, 81);
}
