<div class="swiper swiper-color">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div
          data-name="NCS-213-3213123"
          data-color="#505a63"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1112"
          data-color="#d61c38"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
        <div
          data-name="NCS-213-1232131111"
          data-color="#ffe4e8"
          style=""
          class="item--color"
        >
          <i></i>
        </div>
      </div>
    </div>
  </div>

  <div class="slider__bottom">
    <div class="arrowC arrow-prev"><i></i></div>
    <div class="swiper-scrollbar"></div>
    <div class="arrowC arrow-next"><i></i></div>
  </div>
</div>
