<div class="swiper swiper-color">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="blockColors">
        <div data-name="300" data-color="#FFFFFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="500" data-color="#FCFCFB" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDFF" style="" class="item--color">
          <i></i>
        </div>
        <div data-name="502" data-color="#FAFDF8" style="" class="item--color">
          <i></i>
        </div>
      </div>
    </div>
  </div>
  <div class="slider__bottom">
    <div class="arrowC arrow-prev"><i></i></div>
    <div class="swiper-scrollbar"></div>
    <div class="arrowC arrow-next"><i></i></div>
  </div>
</div>
