
.pageCatalog {

  .container {
    @include mobile {
      padding: 0;
    }
  }
  .pageCatalog__block--left {

    .filterC.primary {
      min-height: 688px;

      @include tablet {
        min-height: 0;
      }
    }
  }

  .pageCatalog__block--right {

    .blockGrid {
      margin-bottom: 100px;

      @include tablet {
        margin-bottom: 70px;
      }

      @include mobile {
        margin-bottom: 50px;
      }
    }
  }

  .pageServiceCertificates__block {
    @include mobile {
      gap: 0;
    }
  }

  .pageCompanyNews__row {
    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}



