.pageCompanyAbout {

  &__content {

    .tabs__content {

      @include mobile {
        padding: 0 !important;
      }
    }
  }

  &__panel {

    &--video {
      padding-left: 1px;

      @include tablet {
        padding-left: 0;
      }
      @include mobile {
        padding: 0 15px;
      }
    }

    .videoC.primary {
      margin-top: -1px;
      margin-bottom: 70px;

      @include mobile {
        margin-bottom: 40px;

      }
    }

    .textCom {
      max-width: 1208px;
      margin: 0 auto 70px;

      @include mobile {
        padding: 0 15px;
      }

      .rowCom {
        display: flex;
        align-items: center;
        gap: 200px;

        @include tablet {
          gap: 114px;
        }

        @include mobile {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }
      }



      h6 {
        font-weight: 500;
        font-size: 32px;
        line-height: 160%;
        text-transform: uppercase;
        margin: 0 0 40px;

        @include mobile {
          font-size: 28px;
          margin-bottom: 20px;
        }
      }

      p {
        margin: 0 0 2em;
        max-width: 1132px;
        font-weight: 300;
        font-size: 18px;
        line-height: 160%;

        @include mobile {
          font-size: 16px;
        }
      }


    }


    .blockNumber.normal {
      margin-bottom: 100px;

      @include tablet {
        margin-bottom: 70px;
      }
    }


  }

  &__footer {


    @include mobile {
      padding: 0 15px;
    }
    &--container {
      background: var(--black-primary);
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 700px;
      display: flex;

      @include big-desktop {
        height: 600px;
      }

      @include tablet {
        height: 615px;
      }
      @include mobile {
        height: auto;

      }
    }



    &--left {
      position: relative;
      z-index: 1;
      padding-top: 170px;
      padding-left: 110px;

      @include big-desktop {
        padding-top: 136px;
        padding-left: 110px;
      }

      @include tablet {
        padding-top: 280px;
        padding-left: 50px;
        padding-right: 52px;
      }

      @include mobile {
        padding: 200px 20px 50px;
      }

      .buttonC {
        display: block;
        max-width: 226px;
        @include mobile {
          max-width: 100%;
        }
      }


    }

    &--decor {
      z-index: 0;
      position: absolute;
      top: -43rem;
      right: -20rem;
      width: 1300px;
      height: 1280px;

      @include big-desktop {
        width: 820px;
        height: 803px;
        top: -17rem;
        right: -14rem;
      }

      @include tablet {
        width: 634px;
        height: 622px;
        top: -24rem;
        left: 50%;
        transform: translateX(-50%);
      }

      @include mobile {
        width: 502px;
        height: 494px;
        top: -21rem;
      }
    }

    &--title {
      font-weight: 400;
      font-size: 32px;
      line-height: 160%;
      text-transform: uppercase;
      color: var(--white-primary);
      max-width: 650px;
      margin-bottom: 50px;

      @include big-desktop {
        margin-bottom: 65px;
        max-width: 570px;
      }

      @include tablet {
        font-size: 24px;
        line-height: 160%;
        max-width: 100%;
        margin-bottom: 50px;
      }

      @include mobile {
        font-size: 18px;
        margin-bottom: 45px;
      }
    }

  }



}
