.blockBack-primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-primary);
  display: inline-block;
  margin-bottom: 42px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include mobile {
    margin-bottom: 30px;
  }

  @include hover {
    color: var(--red-primary);
  }
}
