.blockColorPicker {
  .titleC {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    @include tablet {
      flex-direction: column;
      gap: 15px;
    }
  }

  .data-picker-top {
    position: absolute;
    width: 76%;
    height: 11%;
    z-index: 5;
  }

  .data-bg-top {
    position: absolute;
    top: 0;
    left: -22.2%;
    width: 100%;
    // height: 11.3%;
    height: 11%;
    transform: skew(314deg);
    background: #9f9f9f;
    z-index: 3;
    // clip-path: polygon(0 0, 99% 0%, 91% 100%, 0 100%);
    @include breakpoint(1800px) {
      left: -16.9%;
    }

    @include big-desktop {
      left: -12.3%;
    }

    @include breakpoint(1280px) {
      left: -2.3%;
    }

    @include tablet {
      left: -20.9%;
    }

    @include small-tablet {
      left: -11.9%;
    }

    @include mobile {
      left: -22.9%;
    }

    // @include breakpoint(1800px) {
    //   width: 88%;
    //   clip-path: polygon(0 0, 99% 0%, 90% 100%, 0 100%);
    // }

    // @include big-desktop {
    //   width: 92%;
    //   clip-path: polygon(0 0, 100% 0%, 91% 100%, 0 100%);
    // }

    // @include breakpoint(1280px) {
    //   width: 100%;
    //   clip-path: polygon(0 0, 103% 0%, 92% 100%, 0 100%);
    // }

    // @include tablet {
    //   width: 83%;

    //   clip-path: polygon(0 0, 99% 0%, 91% 100%, 0 100%);
    // }

    // @include small-tablet {
    //   width: 92%;

    //   clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
    // }

    // @include mobile {
    //   height: 11%;
    //   width: 81%;
    // }
  }
  .data-bg-wall {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #9f9f9f;
  }

  .data-img-hard {
    z-index: 3;
    pointer-events: none;
  }

  &__picture {
    &--cont {
      width: 100%;
      height: 580px;
      max-width: 1040px;
      overflow: hidden;
      cursor: pointer;
      position: relative;

      @include mobile {
        height: auto;
      }
    }

    width: 100%;
    height: 100%;

    @include mobile {
      position: relative;
      overflow: hidden;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 68px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      padding: 0 15px;
      margin-bottom: 30px;
    }
  }

  &__button {
    border-radius: 100px;
    background: var(--white-fourth);
    color: var(--black-primary);
    padding: 12px 30px;
    line-height: 160%;

    &:not(.active) {
      @include hover {
        background: var(--white-third);
      }
    }

    &.active {
      background: var(--black-primary);
      color: var(--white-primary);
    }

    @include mobile {
      width: 100%;
    }
  }

  &__canvas {
    &--top {
      // position: absolute;
      width: 100%;
      // height: 11%;
      height: 100%;
      z-index: 5;
    }
  }

  &__top {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    z-index: var(--z-color-picker-top);
    z-index: 5;
    transform: translate(-10%, -90%) rotate(-45deg);
  }

  &__wall {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    z-index: var(--z-color-picker-wall);
  }

  &__img {
    position: relative;
    // z-index: var(--z-color-picker-img);
  }

  &__bg--fasad {
  }

  &__slider {
    max-width: 730px;

    @include big-desktop {
      max-width: 520px;
    }

    @include tablet {
      max-width: 100%;
    }

    .swiper-horizontal > .swiper-scrollbar {
      background: #eaebec;
      max-width: 652px;

      @include big-desktop {
        max-width: 442px;
      }

      @include tablet {
        max-width: 100%;
      }
    }

    .swiper-slide {
      max-width: 100px;
    }

    .swiper-scrollbar {
      left: 0;
      bottom: 0;
      position: relative;
      width: 100%;
      height: 5px;
      margin: 0 15px;
    }

    .swiper-scrollbar-drag {
      background: var(--red-primary);
      cursor: pointer;

      @include hover {
        background: var(--red-primary-hover);
      }
    }

    .slider__bottom {
      margin-top: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .arrowC {
        max-width: 24px;
        min-width: 24px;
        max-height: 24px;
        min-height: 24px;
        border-radius: 100px;
        background: var(--red-primary);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        position: relative;

        @include hover {
          background: var(--red-primary-hover);
        }

        i {
          content: "";
          width: 8px;
          height: 8px;
          border: solid var(--white-primary);
          border-width: 2px 0 0 2px;
          transform: translate(-50%, -50%) rotate(-135deg);
          position: absolute;
          left: 50%;
          top: 50%;
          transition: all 0.4s ease;
        }

        &.arrow-prev {
          i {
            left: 54%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &.arrow-next {
          i {
            left: 46%;
            transform: translate(-50%, -50%) rotate(135deg);
          }
        }
      }
    }

    .blockColors {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      flex-direction: column;
      max-width: 100px;

      .item--color {
        width: 100px;
        height: 100px;
        background: #ffffff;
        cursor: pointer;
        padding: 3px;
        position: relative;
        box-sizing: border-box;
        transition: all 0.2s ease;
        border: 3px solid transparent;

        i {
          width: 24px;
          height: 24px;
          position: absolute;
          background: var(--black-primary);
          border-radius: 100px;
          bottom: 10px;
          right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s ease;

          &::after {
            content: "";
            display: block;
            width: 5px;
            height: 8px;
            border: solid #ffffff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            margin-top: -2px;
          }
        }

        &.active {
          border: 3px solid #424a52;

          i {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &__result {
    margin-top: 20px;

    &--word {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 160%;
    }

    &--name {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
    }

    &--code {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;

      span {
        margin-right: 0.3em;
      }

      .code {
        color: var(--red-primary);
      }
    }
  }

  @include mobile {
    .blockColorPicker__picture--cont {
      padding: 0 15px;
    }

    .swiper-wrapper {
      padding-left: 15px;
    }

    .slider__bottom {
      padding: 0 15px;
    }

    .blockColorPicker__result {
      padding: 0 15px;
    }
  }
}
