.blockColorPicker {
  .titleC {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    @include tablet {
      flex-direction: column;
      gap: 15px;
    }
  }

  .data-picker-top {
    position: absolute;
    z-index: 5;
    width: 76%;
    height: 11%;
  }

  .data-bg-room-top-1 {
    position: absolute;

    // left: -2rem;
    // left: -22.4%;
    top: 0;
    z-index: 3;
    clip-path: polygon(0 0, 80.6% 0, 74.1% 100%, 0 100%);
    width: 100%;
    height: 11.1%;
    background: #9f9f9f;

    // transform: skew(314deg);

    // @include breakpoint(1800px) {
    // /  left: -22.4%;
    // }

    @include breakpoint(1440px) {
      clip-path: polygon(0 0, 91.5% 0, 82.6% 100%, 0 100%);
    }
  }

  .data-bg-room-wall-1 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #9f9f9f;
  }

  .data-bg-room-top-2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    clip-path: polygon(3% 0, 101.9% 0%, 88.4% 100%, 18% 100%);
    width: 100%;
    height: 15.3%;
    background: #9f9f9f;

    @include breakpoint(1440px) {
      clip-path: polygon(0% 0, 102.5% 0%, 84.45% 100%, 0% 100%);
    }
  }

  .data-bg-room-wall-2 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #9f9f9f;
  }

  .data-img-hard {
    z-index: 3;
    pointer-events: none;
  }

  &__picture {
    width: 100%;
    height: 100%;

    &--cont {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: auto;
      max-width: 1040px;
      cursor: pointer;

      @include mobile {
        height: auto;
      }
    }

    @include mobile {
      position: relative;
      overflow: hidden;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;

    &.tablet {
      display: none;

      @include tablet {
        display: grid;
        grid-template-columns: auto auto 30% 30%;
        margin-bottom: 15px;
        width: 100%;
      }

      @include mobile {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
        padding: 0 15px;
      }
    }

    &.desk {
      @include tablet {
        display: none;
      }
    }
  }

  &__button {
    border-radius: 100px;
    padding: 12px 33px;
    line-height: 160%;
    text-align: center;
    color: var(--black-primary);
    background: var(--white-fourth);

    &:not(.active) {
      @include hover {
        background: var(--white-third);
      }
    }

    &.active {
      color: var(--white-primary);
      background: var(--black-primary);
    }

    @include big-desktop {
      padding: 9px 22px;
      font-size: 11.4px;
    }

    @include tablet {
      padding: 9px 21px;
    }
  }

  &__canvas {
    &--top {
      z-index: 5;

      // position: absolute;
      width: 100%;

      // height: 11%;
      height: 100%;
    }
  }

  &__top {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    transform: translate(-10%, -90%) rotate(-45deg);
  }

  &__wall {
    position: absolute;
    z-index: var(--z-color-picker-wall);
    width: 100%;
    height: 100%;
    background: #d9d9d9;
  }

  &__img {
    position: relative;

    // z-index: var(--z-color-picker-img);
  }

  &__bg--fasad {
  }

  &__slider {
    max-width: 730px;

    .swiper-horizontal > .swiper-scrollbar {
      max-width: 652px;
      background: #eaebec;

      @include big-desktop {
        max-width: 442px;
      }

      @include tablet {
        max-width: 100%;
      }
    }

    .swiper-slide {
      max-width: 100px;
    }

    .swiper-scrollbar {
      position: relative;
      left: 0;
      bottom: 0;
      margin: 0 15px;
      width: 100%;
      height: 5px;
    }

    .swiper-scrollbar-drag {
      background: var(--red-primary);
      cursor: pointer;

      @include hover {
        background: var(--red-primary-hover);
      }
    }

    .slider__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 14px;

      .arrowC {
        position: relative;
        border-radius: 100px;
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
        background: var(--red-primary);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        i {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          border: solid var(--white-primary);
          border-width: 2px 0 0 2px;
          width: 8px;
          height: 8px;
          transform: translate(-50%, -50%) rotate(-135deg);
          transition: all 0.4s ease;
        }

        &.arrow-prev {
          i {
            left: 54%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &.arrow-next {
          i {
            left: 46%;
            transform: translate(-50%, -50%) rotate(135deg);
          }
        }

        @include hover {
          background: var(--red-primary-hover);
        }
      }
    }

    .blockColors {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 100px;
      gap: 5px;

      .item--color {
        position: relative;
        border: 3px solid transparent;
        padding: 3px;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        background: #fff;
        transition: all 0.2s ease;
        cursor: pointer;

        i {
          position: absolute;
          right: 10px;
          bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          width: 24px;
          height: 24px;
          background: var(--black-primary);
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s ease;

          &::after {
            content: "";
            display: block;
            margin-top: -2px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            width: 5px;
            height: 8px;
            transform: rotate(45deg);
          }
        }

        &.active {
          border: 3px solid #424a52;

          i {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    @include big-desktop {
      max-width: 520px;
    }

    @include tablet {
      max-width: 100%;
    }
  }

  &__result {
    margin-top: 20px;

    &--word {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
    }

    &--name {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
    }

    &--code {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;

      span {
        margin-right: 0.3em;
      }

      .code {
        color: var(--red-primary);
      }
    }
  }

  @include mobile {
    .blockColorPicker__picture--cont {
      padding: 0 15px;
    }

    .swiper-wrapper {
      padding-left: 15px;
    }

    .slider__bottom {
      padding: 0 15px;
    }

    .blockColorPicker__result {
      padding: 0 15px;
    }
  }
}
