.blockNumber {

  &.full {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include big-desktop {
      grid-template-columns: repeat(2, 1fr);
    }

    .itemCom {
      border-bottom: 1px solid var(--white-third);
      padding-left: 50px;
      padding-top: 75px;
      padding-bottom: 75px;
      transition: all 0.2s ease;


      @include big-desktop {
        padding-left: 40px;
        padding-top: 55px;
        padding-bottom: 70px;
      }

      @include tablet {
        padding-bottom: 85px;

      }


      &:not(:last-child) {
        border-right: 1px solid var(--white-third);

        @include tablet {
          border-right: none;
        }
      }

      &:nth-child(odd) {
        @include tablet {
          border-right: 1px solid var(--white-third);
        }
      }

      h6 {
        font-weight: 700;
        font-size: 46px;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--red-primary);
        margin: 0 0 20px;
        max-width: 320px;

        @include big-desktop {
          font-size: 36px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }


      }

      p {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;
        max-width: 320px;

        @include big-desktop {
          font-size: 16px;
          line-height: 160%;
        }

        @include tablet {
          max-width: 260px;
        }
      }

      @include hover {
        background: var(--white-third);
      }
    }

  }

  &.normal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      border-top: 1px solid var(--white-third);
      border-left: 1px solid var(--white-third);
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      border-left: none;
    }

    .itemCom {
      border-top: 1px solid var(--white-third);
      border-bottom: 1px solid var(--white-third);
      border-right: 1px solid var(--white-third);
      padding-left: 50px;
      padding-top: 75px;
      padding-bottom: 75px;
      transition: all 0.2s ease;

      &:first-child {
        border-left: 1px solid var(--white-third);

        @include tablet {
          border: none;
          border-bottom: 1px solid var(--white-third);
          border-right: 1px solid var(--white-third);
        }

        @include mobile {
          border-right: none;
        }
      }


      @include big-desktop {
        padding-left: 40px;
        padding-top: 55px;
        padding-bottom: 70px;

      }

      @include tablet {
        padding-bottom: 85px;
        border: none;
        border-bottom: 1px solid var(--white-third);
        border-right: 1px solid var(--white-third);
      }

      @include mobile {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 15px;
        border-right: none;
      }


      h6 {
        font-weight: 700;
        font-size: 46px;
        line-height: 160%;
        text-transform: uppercase;
        color: var(--red-primary);
        margin: 0 0 20px;
        max-width: 320px;

        @include big-desktop {
          font-size: 36px;
          text-transform: uppercase;
          margin-bottom: 15px;
        }

        @include mobile {
          font-size: 28px;
          line-height: 160%;
          margin-bottom: 10px;
        }


      }

      p {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;
        max-width: 320px;

        @include big-desktop {
          font-size: 16px;
          line-height: 160%;
          max-width: 260px;
        }

        @include tablet {
          max-width: 260px;
        }

        @include mobile {
          font-size: 14px;
          line-height: 160%;
        }
      }

      @include hover {
        background: var(--white-third);
      }
    }

  }


}
