<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__up">
        <a href="home.html" class="footer__logo">
          <svg class="" viewBox="0 0 131 40">
            <use xlink:href="img/sprite.svg#icon-logo-footer"></use>
          </svg>
          <span>Завод лакокрасночных материалов</span>
        </a>
        <a href="#" class="buttonC footerMain">
          Розничный магазин
        </a>
      </div>
      <div class="footer__content desk">
        <nav class="nav-menu">
          <ul>
            <span>Тип продукта</span>
            <li class="menu-item"><a href="">Краски</a>
            </li>
            <li class="menu-item"><a href="">Грунты</a>
            </li>
            <li class="menu-item"><a href="">Шпатлевки</a></li>
            <li class="menu-item"><a href="">Лаки</a></li>
            <li class="menu-item"><a href="">Клеи</a></li>
            <li class="menu-item"><a href="">Спец материалы</a></li>
          </ul>
          <ul>
            <span>Для наружных работ</span>
            <li class="menu-item"><a href="">Для стен</a>
            </li>
            <li class="menu-item"><a href="">Для полов</a>
            </li>
          </ul>
          <ul>
            <span>Для внутренних работ</span>
            <li class="menu-item"><a href="">Для стен</a>
            </li>
            <li class="menu-item"><a href="">Для потолков</a>
            </li>
            <li class="menu-item"><a href="">Для полов</a>
            </li>
          </ul>
          <ul>
            <span>Бренды</span>
            <li class="menu-item">
              <a href="">Будь здоров</a>
            </li>
            <li class="menu-item">
              <a href="">Aquastrong</a>
            </li>
            <li class="menu-item">
              <a href="">Ecoline</a>
            </li>
            <li class="menu-item">
              <a href="">Nevel</a>
            </li>
            <li class="menu-item">
              <a href="">Nevel gold</a>
            </li>
            <li class="menu-item">
              <a href="">Good wood</a>
            </li>
            <li class="menu-item">
              <a href="">БытХим</a>
            </li>
          </ul>
          <ul>
            <span>О компании</span>
            <li class="menu-item"><a href="">История</a>
            </li>
            <li class="menu-item"><a href="">Производство</a>
            </li>
            <li class="menu-item"><a href="">Новости</a>
            </li>
          </ul>
          <ul>
            <span>Сервис</span>
            <li class="menu-item"><a href="">Торговым организациям</a>
            </li>
            <li class="menu-item"><a href="">Строителям</a>
            </li>
            <li class="menu-item"><a href="">Покупателям</a>
            </li>
            <li class="menu-item"><a href="">Проектировщикам</a>
            </li>
          </ul>
        </nav>
        <div class="footer__content--right">
          <span>Контакты</span>
          <a href="tel:+7 (391) 226-50-65">+7 (391) 226-50-65</a>
          <a href="tel:+7 (391) 290-40-54">+7 (391) 290-40-54</a>
          <a href="mailto:info@bythim.ru">info@bythim.ru</a>
          <button class="btn-reset" data-feedback-open-bid>Запросить коммерческое предложение</button>
        </div>
      </div>
      <div class="footer__bottom desk">
        <a href="#top" class="btn-reset btnArrow">
          <i></i>
        </a>
        <div class="copyrightCom">
          © 2023 «Polychrome BH». Все права защищены.
        </div>
        <a href="" class="linkCom">
          Правила пользования сайта
        </a>
        <div class="socialCom">
          <span>
            Мы в соц. сетях:
          </span>
          <div class="socialCom__row">
            <a href="">
              <svg class="" width="16" height="9" viewBox="0 0 16 9">
                <use xlink:href="img/sprite.svg#icon-vk"></use>
              </svg>
            </a>
            <a href="">
              <svg class="" width="16" height="9" viewBox="0 0 16 9">
                <use xlink:href="img/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__content tablet">
        <div class="line-tablet"></div>
        <nav class="footer__menu--nav">
          <ul>
            <li class="menu-item menu-item-has-children">

              <a href="#" class="">Тип продукта<i></i></a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <li class="menu-item"><a href="">Краски</a>
                    </li>
                    <li class="menu-item"><a href="">Грунты</a>
                    </li>
                    <li class="menu-item"><a href="">Шпатлевки</a></li>
                    <li class="menu-item"><a href="">Лаки</a></li>
                    <li class="menu-item"><a href="">Клеи</a></li>
                    <li class="menu-item"><a href="">Спец материалы</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" class="">Для наружных работ<i></i></a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <li class="menu-item"><a href="">Для стен</a>
                    </li>
                    <li class="menu-item"><a href="">Для полов</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" class="">Для внутренних работ<i></i></a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <li class="menu-item"><a href="">Для стен</a>
                    </li>
                    <li class="menu-item"><a href="">Для потолков</a>
                    </li>
                    <li class="menu-item"><a href="">Для полов</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" class="">Бренды<i></i></a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <li class="menu-item">
                      <a href="">Будь здоров</a>
                    </li>
                    <li class="menu-item">
                      <a href="">Aquastrong</a>
                    </li>
                    <li class="menu-item">
                      <a href="">Ecoline</a>
                    </li>
                    <li class="menu-item">
                      <a href="">Nevel</a>
                    </li>
                    <li class="menu-item">
                      <a href="">Nevel gold</a>
                    </li>
                    <li class="menu-item">
                      <a href="">Good wood</a>
                    </li>
                    <li class="menu-item">
                      <a href="">БытХим</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" class="">Сервис <i></i></a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <li class="menu-item"><a href="">Торговым организациям</a>
                    </li>
                    <li class="menu-item"><a href="">Строителям</a>
                    </li>
                    <li class="menu-item"><a href="">Покупателям</a>
                    </li>
                    <li class="menu-item"><a href="">Проектировщикам</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact.html">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__bottom tablet">
        <div class="footer__cont--up">
          <div class="footer__row--left">
            <div class="footer__row--left--link--tablet">
              <a href="tel:+7 (391) 226-50-65">+7 (391) 226-50-65</a>
              <a href="tel:+7 (391) 290-40-54">+7 (391) 290-40-54</a>
              <a href="mailto:info@bythim.ru">info@bythim.ru</a>
            </div>
            <div class="footer__row--left--link--mobile">
              <a href="mailto:info@bythim.ru">info@bythim.ru</a>
            </div>
          </div>
          <div class="footer__row--right">
            <button class="btn-reset footer__row--right--link" data-feedback-open-bid>
             Запросить коммерческое предложение
            </button>
            <div class="socialCom">
          <span>
            Мы в соц. сетях:
          </span>
              <div class="socialCom__row">
                <a href="">
                  <svg class="" width="16" height="9" viewBox="0 0 16 9">
                    <use xlink:href="img/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
                <a href="">
                  <svg class="" width="16" height="9" viewBox="0 0 16 9">
                    <use xlink:href="img/sprite.svg#icon-vk"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__cont--bottom">
          <a href="#top" class="btn-reset btnArrow">
            <i></i>
          </a>
          <div class="contCom">
            <div class="copyrightCom">
              © 2023 «Polychrome BH». Все права защищены.
            </div>
            <a href="" class="linkCom">
              Правила пользования сайта
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
