<header class="header">
  <div class="header__container header__container--desk">
    <div class="header__top">
      <div class="header__top--left">
        <a href="home.html" class="header__logo">
          <svg class="" viewBox="0 0 178 53">
            <use xlink:href="img/sprite.svg#icon-logo"></use>
          </svg>
          <span>Завод лакокрасочных материалов</span>
        </a>
        <div class="header__search">
          <input type="text" placeholder="поиск">
          <button class="btn-reset buttonC color-red">найти</button>
        </div>
      </div>
      <div class="header__top--right">
        <a href="compare.html" class="header__compare">
          <div class="header__compare--logo">
            <svg class=""  width="20" height="19" viewBox="0 0 20 19">
              <use xlink:href="img/sprite.svg#icon-compare"></use>
            </svg>
            <span class="circle">
              <span class="fon">
                <i>1</i>
              </span>

            </span>
          </div>
          <span class="header__compare--text">
            Сравнение
          </span>
        </a>
        <div class="header__buttons">
          <button class="btn-reset header__button--bid" data-feedback-open-bid>
            Оставить заявку
          </button>
          <button class="btn-reset header__button--phone" data-feedback-open-phone>
            Обратный звонок
          </button>
        </div>
        <a href="tel:8 800 5555-345" class="header__link--tel">
          <svg class="" width="17" height="18" viewBox="0 0 17 18">
            <use xlink:href="img/sprite.svg#icon-phone"></use>
          </svg>
          <span>8 800 5555-345</span>
        </a>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__bottom--buttons">
        <div class="dropdownC dropdownC-catalog">
          <button class="buttonC buttonC-catalog buttonC-dropdown">
            <span>Каталог</span>
            <i></i>
          </button>
          <div class="header__menu--display">
            <div class="header__menu--container header__menu--catalog">
              <div class="header__menu--catalog--blocks">
                <div class="header__menu--block">
                  <span>Тип продукта</span>
                  <ul>
                    <li><a href="">Краски</a></li>
                    <li><a href="">Грунты</a></li>
                    <li><a href="">Шпатлевки</a></li>
                    <li><a href="">Лаки</a></li>
                    <li><a href="">Клеи</a></li>
                    <li><a href="">Спец материалы</a></li>
                  </ul>
                </div>
                <div class="header__menu--block">
                  <span>Для наружных работ</span>
                  <ul>
                    <li><a href="">Для стен</a></li>
                    <li><a href="">Для полов</a></li>
                  </ul>
                </div>
                <div class="header__menu--block">
                  <span>Для внутренних работ</span>
                  <ul>
                    <li><a href="">Для стен</a></li>
                    <li><a href="">Для потолков</a></li>
                    <li><a href="">Для полов</a></li>
                  </ul>
                </div>
                <div class="header__menu--block">
                  <span>Бренды</span>
                  <ul>
                    <li><a href="">Будь здоров</a></li>
                    <li><a href="">Aquastrong</a></li>
                    <li><a href="">Ecoline</a></li>
                    <li><a href="">Nevel</a></li>
                    <li><a href="">Nevel gold</a></li>
                    <li><a href="">Goodwood</a></li>
                    <li><a href="">БытХим</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdownC dropdownC-company">
          <button class="buttonC buttonC-company buttonC-dropdown">
            <span>О компании</span>
            <i></i>
          </button>
          <div class="header__menu--display">
            <div class="header__menu--container header__menu--company">
              <div class="header__menu--company--blocks">
                <div class="header__menu--block">
                  <ul>
                    <li><a href="companyAbout.html">О нас</a></li>
                    <li><a href="companyNews.html">Новости</a></li>
                    <li><a href="companyProduction.html">Миссия</a></li>
                    <li><a href="companyHistory.html">История</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdownC dropdownC-service">
          <button class="buttonC buttonC-service buttonC-dropdown">
            <span>Сервис</span>
            <i></i>
          </button>
          <div class="header__menu--display">
            <div class="header__menu--container header__menu--service">
              <div class="header__menu--service--blocks">
                <div class="header__menu--block">
                  <span>Строителям</span>
                  <ul>
                    <li><a href="">BIM-модели</a></li>
                    <li><a href="">Калькулятор расхода</a></li>
                  </ul>
                </div>
                <div class="header__menu--block">
                  <span>Покупателям</span>
                  <ul>
                    <li><a href="">Визуальный конфигуратор</a></li>
                    <li><a href="">Калькулятор расхода</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdownC dropdownC-certificate">
          <a href="serviceCertificates.html" class="buttonC buttonC-certificate">
            Сертификаты
          </a>
        </div>
        <div class="dropdownC dropdownC-contact">
          <a href="contact.html" class="buttonC buttonC-contact">
            Контакты
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="header__container header__container--tablet">
    <div class="header__content">
      <a href="home.html" class="header__logo">
        <svg class="" viewBox="0 0 178 53">
          <use xlink:href="img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header__buttons">
        <button class="btn-reset btn-search">
          <svg class="" width="44" height="44" viewBox="0 0 44 44">
            <use xlink:href="img/sprite.svg#icon-search-tablet"></use>
          </svg>
        </button>
        <button class="btn-reset btn-phone" data-feedback-open-phone>
          <svg class="" width="44" height="44" viewBox="0 0 44 44">
            <use xlink:href="img/sprite.svg#icon-phone-tablet"></use>
          </svg>
        </button>
        <button class="btn-reset btn-message" data-feedback-open-bid>
          <svg class="" width="44" height="44" viewBox="0 0 44 44">
            <use xlink:href="img/sprite.svg#icon-message-tablet"></use>
          </svg>
        </button>
        <button class="btn-reset btn-burger" data-burger-open>
          <svg class="" width="44" height="44" viewBox="0 0 44 44">
            <use xlink:href="img/sprite.svg#icon-burger-tablet"></use>
          </svg>
        </button>
      </div>
      <div class="header__search--display">
        <div class="header__search--row">
          <div class="header__search--row--cont">
            <input type="text" placeholder="поиск">
            <button class="btn-reset btn-search">
              найти
            </button>
          </div>
          <button class="btn-reset btn-close">
            <svg class="" width="16" height="16" viewBox="0 0 16 16">
              <use xlink:href="img/sprite.svg#icon-close-tablet"></use>
            </svg>
          </button>
        </div>
      </div>

    </div>

  </div>
</header>
<div class="header-padding-top"></div>
<div class="menu--always" data-menu-always data-scroll-lock-scrollable>
  <div class="menu__container">
    <div class="menu__top">
      <a href="home.html" class="menu__logo">
        <svg class="" viewBox="0 0 178 53">
          <use xlink:href="img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="menu__button">
        <button class="btn-reset btn-close" data-burger-close>
          <svg class="" width="44" height="44" viewBox="0 0 44 44">
            <use xlink:href="img/sprite.svg#icon-close-tablet-main"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="menu__scroll">
      <div class="menu__center">
        <div class="menu__center--tablet">
          <a href="compare.html" class="header__compare">
            <div class="header__compare--logo">
              <svg class=""  width="20" height="19" viewBox="0 0 20 19">
                <use xlink:href="img/sprite.svg#icon-compare"></use>
              </svg>
              <span class="circle">
              <span class="fon">
                <i>1</i>
              </span>

            </span>
            </div>
            <span class="header__compare--text">
            Сравнение
          </span>
          </a>
          <div class="header__buttons">
            <button class="btn-reset header__button--bid" data-feedback-open-bid>
              Оставить заявку
            </button>
            <button class="btn-reset header__button--phone" data-feedback-open-phone>
              Обратный звонок
            </button>
          </div>
          <a href="tel:8 800 5555-345" class="header__link--tel">
            <svg class="" width="17" height="18" viewBox="0 0 17 18">
              <use xlink:href="img/sprite.svg#icon-phone"></use>
            </svg>
            <span>8 800 5555-345</span>
          </a>
        </div>
        <div class="menu__center--mobile">
          <div class="header__buttons">
            <button class="btn-reset header__button--bid" data-feedback-open-bid-mobile>
              Оставить заявку
            </button>
            <button class="btn-reset header__button--phone" data-feedback-open-phone-mobile>
              Обратный звонок
            </button>
          </div>
        </div>
      </div>
      <div class="menu__bottom">
        <nav class="header__menu--nav">
          <ul>
            <li class="menu-item menu-item-has-children">

              <a href="#" class="">Каталог</a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <span>Тип продукта</span>
                    <li class="menu-item"><a href="#">Краски</a></li>
                    <li class="menu-item"><a href="#">Грунты</a></li>
                    <li class="menu-item"><a href="#">Шпатлевки</a></li>
                    <li class="menu-item"><a href="#">Лаки</a></li>
                    <li class="menu-item"><a href="#">Клеи</a></li>
                    <li class="menu-item"><a href="#">Спец материалы</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <span>Для наружных работ</span>
                    <li class="menu-item"><a href="#">Для стен</a></li>
                    <li class="menu-item"><a href="#">Для потолков</a></li>
                    <li class="menu-item"><a href="#">Для полов</a></li>
                    <li class="menu-item"><a href="#">Лаки</a></li>
                    <li class="menu-item"><a href="#">Клеи</a></li>
                    <li class="menu-item"><a href="#">Спец материалы</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <span>Бренды</span>
                    <li class="menu-item"><a href="#">Будь здоров</a></li>
                    <li class="menu-item"><a href="#">Aquastrong</a></li>
                    <li class="menu-item"><a href="#">Ecoline</a></li>
                    <li class="menu-item"><a href="#">Nevel</a></li>
                    <li class="menu-item"><a href="#">Nevel gold</a></li>
                    <li class="menu-item"><a href="#">Goodwood</a></li>
                    <li class="menu-item"><a href="#">БытХим</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">

              <a href="#" class="">О компании</a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <li class="menu-item" ><a href="companyAbout.html">О нас</a></li>
                    <li class="menu-item" ><a href="companyNews.html">Новости</a></li>
                    <li class="menu-item" ><a href="companyProduction.html">Миссия</a></li>
                    <li class="menu-item" ><a href="companyHistory.html">История</a></li>
                  </ul>
                </li>


              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#" class="">Сервис</a>
              <ul class="sub-menu" style="">
                <li>
                  <ul>
                    <span>Строителям</span>
                    <li class="menu-item"><a href="#">BIM-модели</a></li>
                    <li class="menu-item"><a href="#">Калькулятор расхода</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <span>Покупателям</span>
                    <li class="menu-item"><a href="#">Визуальный конфигуратор</a></li>
                    <li class="menu-item"><a href="#">Калькулятор расхода</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="serviceCertificates.html">Сертификаты</a>
            </li>
            <li class="menu-item">
              <a href="contact.html">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="feedback--always" data-feedback-always>
  <div class="feedback__fon" data-feedback-close></div>
  <div class="feedback__swift feedback__connection">
    <form class="feedbackC" data-scroll-lock-scrollable>
      <div class="feedbackC__container">
        <div class="feedbackC__row">
          <div class="feedbackC__row--cont">
            <button class="btn-reset btn-close" data-feedback-close>
              <svg class="" width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="img/sprite.svg#icon-feedback-close"></use>
              </svg>
            </button>
            <button class="btn-reset btn-close" data-feedback-close-menu>
              <svg class="" width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="img/sprite.svg#icon-feedback-close"></use>
              </svg>
            </button>
          </div>

        </div>
        <div class="feedbackC__title">
          Запросить коммерческое предложение
        </div>
        <div class="feedbackC__subtitle">
          Оставьте заявку и наш менеджер перезвонит вам в ближайшее время.
        </div>
        <div class="feedbackC__inputs">
          <div class="inputC primary">
            <input type="text" placeholder="Фамилия, Имя">
          </div>
          <div class="inputC primary">
            <input class="test-tel" type="tel" placeholder="+7(___)___-__-__*">
          </div>
          <div class="inputC primary">
            <input type="text" placeholder="Email">
          </div>
          <div class="inputC primary">
            <textarea type="text" placeholder="Сообщение"></textarea>
          </div>
        </div>
        <div class="feedbackC__submit">
          <button type="submit" class="buttonC primary">
            Отправить
          </button>
          <div class="copyrightC primary">
            Нажимая кнопку “Отправить”, вы соглашаетесь с нашей <a href="">политикой конфедициальности</a>
          </div>
        </div>
        <div class="feedbackC__warning">
          Неверно введеное значение, попробуйте еще раз.
        </div>
        <div class="feedbackC__success">
          <svg class="" viewBox="0 0 100 100">
            <use xlink:href="img/sprite.svg#icon-feedback-done"></use>
          </svg>
          <div class="feedbackC__title">
            Заявка успешно отправлена!
          </div>
          <div class="feedbackC__subtitle">
            Наш менеджер перезвонит вам в ближайшее время.
          </div>
          <div class="feedbackC__success--buttons">
            <button class="buttonC primary" data-feedback-close>
              Закрыть
            </button>
            <button class="buttonC primary" data-feedback-close-menu>
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="feedback__swift feedback__call">
    <form class="feedbackC" data-scroll-lock-scrollable>
      <div class="feedbackC__container">
        <div class="feedbackC__row">
          <div class="feedbackC__row--cont">
            <button class="btn-reset btn-close" data-feedback-close>
              <svg class="" width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="img/sprite.svg#icon-feedback-close"></use>
              </svg>
            </button>
            <button class="btn-reset btn-close" data-feedback-close-menu>
              <svg class="" width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="img/sprite.svg#icon-feedback-close"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="feedbackC__title">
          Обратная связь
        </div>
        <div class="feedbackC__subtitle">
          Оставьте заявку и наш менеджер перезвонит вам в ближайшее время.
        </div>
        <div class="feedbackC__inputs">
          <div class="inputC primary">
            <input class="test-tel" type="tel" placeholder="+7(___)___-__-__*">
          </div>
        </div>
        <div class="feedbackC__submit">
          <button type="submit" class="buttonC primary">
            Отправить
          </button>
          <div class="copyrightC primary">
            Нажимая кнопку “Отправить”, вы соглашаетесь с нашей <a href="">политикой конфедициальности</a>
          </div>
        </div>
        <div class="feedbackC__warning">
          Неверно введеное значение, попробуйте еще раз.
        </div>
        <div class="feedbackC__success">
          <svg class="" viewBox="0 0 100 100">
            <use xlink:href="img/sprite.svg#icon-feedback-done"></use>
          </svg>
          <div class="feedbackC__title">
            Заявка успешно отправлена!
          </div>
          <div class="feedbackC__subtitle">
            Наш менеджер перезвонит вам в ближайшее время.
          </div>
          <div class="feedbackC__success--buttons">
            <button class="buttonC primary" data-feedback-close>
              Закрыть
            </button>
            <button class="buttonC primary" data-feedback-close-menu>
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
