<section class="index">
  <div class="index__container">
    <div class="index__box">
      <div class="index__title">
        Главный раздел
      </div>
      <div class="index__cont">
        <a href="home.html" class="btn btn__index">Главная</a>
        <a href="error.html" class="btn btn__index">404</a>

      </div>
      <div class="index__cont">
        <a href="contact.html" class="btn btn__index">Контакты</a>
        <a href="compare.html" class="btn btn__index">Сравнение</a>
      </div>
      <div class="index__cont">
        <a href="catalog.html" class="btn btn__index">Каталог</a>
        <a href="catalogCard.html" class="btn btn__index">Карточка товара</a>
      </div>
    </div>
    <div class="index__box">
      <div class="index__title">
        Раздел о компании
      </div>
      <div class="index__cont">
        <a href="companyAbout.html" class="btn btn__index">О компании</a>
        <a href="companyHistory.html" class="btn btn__index">История</a>
      </div>
      <div class="index__cont">
        <a href="companyProduction.html" class="btn btn__index">Производство</a>
        <a href="companyNews.html" class="btn btn__index">Новости - начало</a>
      </div>
      <div class="index__cont">
        <a href="companyNewsOne.html" class="btn btn__index">Новости - середина</a>
        <a href="companyNewsTwo.html" class="btn btn__index">Новости - конец</a>
      </div>
      <div class="index__cont">
        <a href=companyNew.html" class="btn btn__index">Новость</a>
      </div>
    </div>
    <div class="index__box not-ready">
      <div class="index__title">
        Раздел сервис
      </div>
      <div class="index__cont">
        <a href="serviceOrganizations.html" class="btn btn__index">Торговым организациям</a>
        <a href="serviceOrganization.html" class="btn btn__index">Торговая организация</a>
      </div>
      <div class="index__cont">
        <a href="serviceBooklets.html" class="btn btn__index">Каталоги и буклеты</a>
        <a href="serviceLogos.html" class="btn btn__index">Логотипы</a>
      </div>
      <div class="index__cont">
        <a href=serviceBuilder.html" class="btn btn__index">Строителям</a>
        <a href=serviceСalculator.html" class="btn btn__index">Калькулятор расхода</a>
      </div>
      <div class="index__cont">
        <a href=serviceHelpful.html" class="btn btn__index">Полезная информация о продукции</a>
        <a href=serviceBuyers.html" class="btn btn__index">Покупателем</a>
      </div>
      <div class="index__cont">
        <a href=serviceModels.html" class="btn btn__index">Визуальный канфигуратор</a>
        <a href=serviceCertificates.html" class="btn btn__index">Сертификаты (Технические паспорта)</a>
      </div>
      <div class="index__cont">
        <a href=serviceColorPicker.html" class="btn btn__index">Визуальный канфигуратор</a>
        <a href=serviceDesigner.html" class="btn btn__index">Проектировщикам</a>
      </div>
    </div>
    <div class="index__box not-ready">
      <div class="index__title">
        Раздел поиска
      </div>
      <div class="index__cont">
        <a href="searchCatalog.html" class="btn btn__index">Поиск каталог</a>
        <a href="searchInfo.html" class="btn btn__index">Поиск информационные страницы</a>
      </div>
    </div>
  </div>
</section>
