<div class="pageCatalog mb-150-primary">
  <div class="pageCatalog__container">

    <div class="pageServiceCertificates__content">
      <div class="container">
        <div class="pageServiceCertificates__block">
          <div class="pageServiceCertificates__block--left pageCatalog__block--left">
            <div class="filterC primary">
              <button class="btn-reset filterC__button">
                фильтры
              </button>
              <div class="filterC__block">
                <div class="filterC__block--name">
                  Фильтры
                </div>
                <div class="filterC__block--dropdowns">
                  <div class="dropdownC dropdownC--filters">
                    <button class="btn-reset dropdownC__btn">
                      <svg class="" width="22" height="20" viewBox="0 0 22 20">
                        <use xlink:href="img/sprite.svg#icon-color"></use>
                      </svg>
                      <span>Тип продукта</span>
                    </button>
                    <ul class="dropdownC__nav">
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d1">
                          <label class="checkboxC__label" for="d1">Краски</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d3">
                          <label class="checkboxC__label" for="d3">Шпатлевки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d4">
                          <label class="checkboxC__label" for="d4">Лаки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d5">
                          <label class="checkboxC__label" for="d5">Клеи</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d6">
                          <label class="checkboxC__label" for="d6">Спец материалы</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdownC dropdownC--filters">
                    <button class="btn-reset dropdownC__btn">
                      <svg class="" width="21" height="23" viewBox="0 0 21 23">
                        <use xlink:href="img/sprite.svg#icon-home"></use>
                      </svg>
                      <span>Для наружных работ</span>
                    </button>
                    <ul class="dropdownC__nav">
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="b1">
                          <label class="checkboxC__label" for="b1">Краски</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="b3">
                          <label class="checkboxC__label" for="b3">Шпатлевки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="b4">
                          <label class="checkboxC__label" for="b4">Лаки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="b5">
                          <label class="checkboxC__label" for="b5">Клеи</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="b6">
                          <label class="checkboxC__label" for="b6">Спец материалы</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdownC dropdownC--filters">
                    <button class="btn-reset dropdownC__btn">
                      <svg class="" width="20" height="21" viewBox="0 0 20 21">
                        <use xlink:href="img/sprite.svg#icon-home-2"></use>
                      </svg>
                      <span>Для внутренних работ</span>
                    </button>
                    <ul class="dropdownC__nav">
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="с1">
                          <label class="checkboxC__label" for="с1">Краски</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="с3">
                          <label class="checkboxC__label" for="с3">Шпатлевки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="с4">
                          <label class="checkboxC__label" for="с4">Лаки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="с5">
                          <label class="checkboxC__label" for="с5">Клеи</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="с6">
                          <label class="checkboxC__label" for="с6">Спец материалы</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdownC dropdownC--filters">
                    <button class="btn-reset dropdownC__btn">
                      <svg class="" width="18" height="19" viewBox="0 0 18 19">
                        <use xlink:href="img/sprite.svg#icon-brands"></use>
                      </svg>
                      <span>Бренды</span>
                    </button>
                    <ul class="dropdownC__nav">
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="v1">
                          <label class="checkboxC__label" for="v1">Краски</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="v3">
                          <label class="checkboxC__label" for="v3">Шпатлевки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="v4">
                          <label class="checkboxC__label" for="v4">Лаки</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="v5">
                          <label class="checkboxC__label" for="v5">Клеи</label>
                        </div>
                      </li>
                      <li class="dropdownC__item">
                        <div class="checkboxC checkboxC--primary">
                          <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="v6">
                          <label class="checkboxC__label" for="v6">Спец материалы</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="btn-reset filterC__block--cancel">
                  Сбросить фильтры
                </button>
              </div>
            </div>
          </div>
          <div class="pageServiceCertificates__block--right">
            <div class="pageCatalog__block--right">
              <div class="blockGrid blockGrid--catalog">
                <div class="blockGrid__content">
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="itemC product catalog">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="pageCompanyNews__row">
                  <button class="buttonC also btn-also">
                    Показать еще 15
                  </button>
                  <div class="pageCompanyNews__pagination">
                    <ul class="pagination primary">
                      <li class="page-item">
                        <a class="page-numbers" href="#">1</a>
                      </li>
                      <li class="page-item active">
                        <span aria-current="page" class="page-numbers current">2</span>
                      </li>
                      <li class="page-item">
                        <a class="page-numbers" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-numbers" href="#">4</a>
                      </li>
                      <li class="page-item">
                        <a class="page-numbers" href="#">5</a>
                      </li>
                      <li class="page-item">
                        <a class="next page-numbers" href="#" disabled="disabled">
                          <svg class="" width="7" height="12" viewBox="0 0 7 12">
                            <use xlink:href="img/sprite.svg#icon-arrow-next"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="next-max page-numbers" href="#">
                          <svg class="" width="13" height="12" viewBox="0 0 13 12">
                            <use xlink:href="img/sprite.svg#icon-arrow-super-next"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapseC collapseC--primary">
                <div class="collapseC--title">
                  СЕО-текст
                </div>
                <div class="collapseC--text">
                  <p>Использование оборудования, сырья, передовых разработок и опыта известных мировых производителей ЛКМ позволяет постоянно совершенствовать качество и расширять географию продаж выпускаемой продукции. Производство качественной лакокрасочной продукции нашим предприятием, признано лучшим и экологичным для подготовительных и отделочных работ Использование оборудования, сырья, передовых разработок и опыта известных мировых производителей ЛКМ позволяет постоянно совершенствовать качество и расширять географию продаж выпускаемой продукции. Производство качественной лакокрасочной продукции нашим предприятием, признано лучшим и экологичным для подготовительных и отделочных работ</p>
                </div>
                <div class="collapseC--shadow"></div>
                <div class="collapseC--cont">
                  <button class="buttonC collapseC--button">
                    <span>Развернуть</span><i></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

