<div class="pageCompanyProduction mb-150-primary">
  <div class="pageCompanyProduction__container">

    <div class="pageCompanyProduction__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav">
            <li class="tabs__nav-item"><a href="companyAbout.html" class="tabs__nav-btn" type="button">О
              компании</a></li>
            <li class="tabs__nav-item"><a href="companyHistory.html" class="tabs__nav-btn"
                                          type="button">История</a></li>
            <li class="tabs__nav-item"><a href="companyProduction.html" class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Производство</a></li>
            <li class="tabs__nav-item"><a href="companyNews.html" class="tabs__nav-btn" type="button">Новости</a></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageCompanyProduction__panel">
                <h6>
                  Производство
                </h6>
                <p>
                  Использование оборудования, сырья, передовых разработок и опыта известных мировых производителей ЛКМ позволяет постоянно совершенствовать качество и расширять географию продаж выпускаемой продукции.
                </p>
                <p>
                  Производство качественной лакокрасочной продукции нашим предприятием, признано лучшим и экологичным
                  для подготовительных и отделочных работ в строительстве.
                </p>
                <p>
                  Работая с нами, вы всегда сможете получить полный спектр услуг по подбору лакокрасочных материалов для ремонта
                  и строительства.
                </p>
                <img src="../img/image-1820-1.jpg" alt="">
                <h6>
                  Еще текст
                </h6>
                <p>
                  Использование оборудования, сырья, передовых разработок и опыта известных мировых производителей ЛКМ позволяет постоянно совершенствовать качество и расширять географию продаж выпускаемой продукции.
                </p>
                <p>
                  Производство качественной лакокрасочной продукции нашим предприятием, признано лучшим и экологичным
                  для подготовительных и отделочных работ в строительстве.
                </p>
                <p>
                  Работая с нами, вы всегда сможете получить полный спектр услуг по подбору лакокрасочных материалов для ремонта
                  и строительства.
                </p>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

