<div class="pageServiceOrganization mb-250-primary">
  <div class="pageServiceOrganization__container">
    <div class="pageServiceOrganization__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item"><a href="serviceOrganizations.html" class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuilder.html" class="tabs__nav-btn"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuyers.html" class="tabs__nav-btn "
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item"><a href="serviceDesigner.html" class="tabs__nav-btn" type="button">Проектировщикам</a>
            </li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageServiceOrganization__panel">
                <a class="blockBack-primary" href="serviceOrganizations.html">
                  ← Назад
                </a>
                <div class="pageServiceOrganization__block">
                  <div class="pageServiceOrganization__block--texts">
                    <div class="titleC secondary">
                      Линия “Будь здоров”
                    </div>
                    <div class="textC service">
                      <p>
                        Возможность написать текстом все что необходимо здесь написать. Например, Завод лакокрасочных
                        материалов БЫТХИМ – это производитель с 25-летним опытом производства лакокрасочных материалов.
                        Со своей производственной и ресурсной базой. Опытом лабораторных исследований и собственных
                        разработок. Широким кругом партнеров Политикой качества.
                      </p>
                      <p>
                        Компания производит продукт, востребованный на российском и зарубежном рынке.
                      </p>
                      <p>
                        Наименование Polychrome BH состоит из двух частей. BH – это такой мостик из прошлого, который
                        соединяет нас с прошлым названием БытХим. Слово polychrome - многоцветие, которое пришло в
                        обиход со времен древних греков. В искусстве полихромия - это «практика украшения архитектурных
                        элементов, скульптуры и т. д. различными цветами». Термин полихромия существует и в физике в
                        разделе оптики, и в химии как один из химических элементов, и в других областях. Кроме того,
                        слово polychrome существует во многих языках. Соответственно будет знакомо и понятно людям в
                        разных странах.
                      </p>
                    </div>
                    <div class="pageServiceOrganization__block--row">
                      <div class="pageServiceOrganization__block--col">
                        <a href="#" target="_blank" download class="fileC primary">
                          <svg class="" viewBox="0 0 39 50">
                            <use xlink:href="img/sprite.svg#icon-pdf"></use>
                          </svg>
                          <span>Буклет линейки “Будь здоров”</span>
                        </a>
                        <a href="#" target="_blank" download class="fileC primary">
                          <svg class="" viewBox="0 0 39 50">
                            <use xlink:href="img/sprite.svg#icon-pdf"></use>
                          </svg>
                          <span>Буклет линейки “Будь здоров”</span>
                        </a>
                      </div>
                      <div class="pageServiceOrganization__block--col">
                        <a href="#" target="_blank" download class="fileC primary">
                          <svg class="" viewBox="0 0 39 50">
                            <use xlink:href="img/sprite.svg#icon-pdf"></use>
                          </svg>
                          <span>Буклет линейки “Будь здоров”</span>
                        </a>
                        <a href="#" target="_blank" download class="fileC primary">
                          <svg class="" viewBox="0 0 39 50">
                            <use xlink:href="img/sprite.svg#icon-pdf"></use>
                          </svg>
                          <span>Буклет линейки “Будь здоров”</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="pageServiceOrganization__block--logo">
                    <img src="../img/svg/icon-logo-service-big-1.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

