<div class="pageServiceBuyers mb-150-primary">
  <div class="pageServiceBuyers__container">

    <div class="pageServiceBuyers__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav">
            <li class="tabs__nav-item"><a href="serviceOrganizations.html" class="tabs__nav-btn" type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuilder.html" class="tabs__nav-btn"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuyers.html" class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item"><a href="serviceDesigner.html" class="tabs__nav-btn" type="button">Проектировщикам</a></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="blockServicePanel-primary pageServiceBuyers__panel">
                <div class="blockServiceText-primary">
                  <div class="titleC secondary">
                    Покупателям
                  </div>
                  <div class="textC service">
                    <p>Краткая пояснителная информацию о разделе.</p>
                  </div>
                </div>
                <div class="blockServiceGrid-3">
                  <a href="#" class="itemC service">
                    <img src="../img/image-598-1.png" alt="">
                    <span>Визуальный конфигуратор</span>
                  </a>
                  <a href="#" class="itemC service">
                    <img src="../img/svg/image-598-2.svg" alt="">
                    <span>Калькулятор расхода</span>
                  </a>
                  <a href="#" class="itemC service">
                    <img src="../img/image-598-3.jpg" alt="">
                    <span>Полезная информация о продукции</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

