<div class="pageCompanyNew mb-150-primary">
  <div class="pageCompanyNew__container">

    <div class="pageCompanyNew__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav">
            <li class="tabs__nav-item"><a href="companyAbout.html" class="tabs__nav-btn" type="button">О
              компании</a></li>
            <li class="tabs__nav-item"><a href="companyHistory.html" class="tabs__nav-btn"
                                          type="button">История</a></li>
            <li class="tabs__nav-item"><a href="companyProduction.html" class="tabs__nav-btn "
                                          type="button">Производство</a></li>
            <li class="tabs__nav-item"><a href="companyNews.html" class="tabs__nav-btn tabs__nav-btn--active" type="button">Новости</a></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageCompanyNew__panel">
                <a class="blockBack-primary" href="companyNews.html">
                  ← Назад
                </a>
                <div class="pageCompanyNew__info">
                  <img src="./img/image-1820-2.jpg" class="image-first" alt="">
                  <span>20.01.23</span>
                  <h6>ЮБИЛЕЙ КОМПАНИИ - 25 ЛЕТ!</h6>
                  <p>Знаете ли вы, что чувствует сотрудник на утро после корпоратива? Команда завода лакокрасочных материалов POLYCHROME BH теперь однозначно знает ответ на этот вопрос – 31 марта мы отметили серьёзную дату, наша компания прошла 25-й год своей работы.</p>
                  <p>Интересно, что в этот раз мы использовали необычную локацию – собственное производство. Цех, где идет производственный процесс, стал отличной зоной для празднования в стиле лофт – кирпичные стены, видавшие выпуск многих тонн краски, дежи-емкости для сырья и все оборудование, собранное в Музей техники. Кстати, специально для Музея достали растворосмесители, краскотерки, диссольверы, которые использовались со времени основания 1996 г. А ведь начиналось все не с краски. Первым продуктом производства была шпатлевка, очень популярная и пользующаяся спросом в 90-х.</p>
                  <img src="./img/image-1820-2.jpg" alt="">
                  <h6></h6>
                  <p>Приятные слова благодарности и подарки сотрудникам, поздравления от коллектива руководству, интерактивные викторины на тему химических формул и интересных фактов о компании – всё это про празднование юбилея POLYCHROME BH. В перерывах между активностями кто-то из коллег зажигал танцпол, а другие – вспоминали интересные истории, ключевые даты за 25 лет компании
                    мы собрали в фото на едином стенде.</p>
                  <p>Нам, несомненно, есть что вспомнить. За это время мы сформировали сплочённый и дружный коллектив – команду единомышленников и увлеченных людей. Это мощный фундамент для реализации даже самых смелых идей и экспериментов.
                    Мы лидеры в своем городе, поставляем продукцию в 50 регионов России и за рубеж. Впереди у нас огромные перспективы!</p>
                </div>
                <div class="pageCompanyNew__row">
                  <a href="catalog.html" class="buttonC also">Перейти в каталог</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

