<div class="pageCompare mb-150-primary">
  <div class="pageCompare__container">
    <div class="pageCompare__content">
      <div class="blockTabs primary">
        <div class="tabs" data-tabs="tabs-primary">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn" type="button">
                <span>Краски</span>
                <span> </span>
                <span>(8)</span>
              </button>
            </li>
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn" type="button">
                <span>Лаки</span>
                <span> </span>
                <span>(2)</span>
              </button>
            </li>
            <li class="tabs__nav-item">
              <button class="tabs__nav-btn" type="button">
                <span>Грунтовки</span>
                <span> </span>
                <span>(5)</span>
              </button>
            </li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="pageCompare__panel">
                <div class="blockSlider blockSlider-compare">
                  <div class="blockSlider__cont">
                    <div class="blockSlider__buttons">
                      <button class="btn-reset blockSlider__arrow arrow-prev">
                        <i></i>
                      </button>
                      <button class="btn-reset blockSlider__arrow arrow-next">
                        <i></i>
                      </button>
                    </div>
                  </div>
                  <div class="blockSlider__content">
                    <div class="swiper swiper-compare">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-1.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-2.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-3.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-1.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-2.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-3.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-1.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-2.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="pageCompare__panel">
                <div class="blockSlider blockSlider-compare">
                  <div class="blockSlider__cont">
                    <div class="blockSlider__buttons">
                      <button class="btn-reset blockSlider__arrow arrow-prev">
                        <i></i>
                      </button>
                      <button class="btn-reset blockSlider__arrow arrow-next">
                        <i></i>
                      </button>
                    </div>
                  </div>
                  <div class="blockSlider__content">
                    <div class="swiper swiper-compare">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-1.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-2.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="pageCompare__panel">
                <div class="blockSlider blockSlider-compare">
                  <div class="blockSlider__cont">
                    <div class="blockSlider__buttons">
                      <button class="btn-reset blockSlider__arrow arrow-prev">
                        <i></i>
                      </button>
                      <button class="btn-reset blockSlider__arrow arrow-next">
                        <i></i>
                      </button>
                    </div>
                  </div>
                  <div class="blockSlider__content">
                    <div class="swiper swiper-compare">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-1.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-2.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-3.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-1.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="itemC product compare">
                            <div class="itemC__main">
                              <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                                Запросить коммерческое предложение
                              </button>
                              <a href="#" class="itemC__image">
                                <img src="./img/image-slilder-2.png" alt="" class="">
                              </a>
                              <div class="itemC__row">
                                <a href="#" class="itemC__word">
                                  Краска для бетонных полов Aquastrong
                                </a>
                                <button class="btn-reset itemC__button--compare">
                                  <svg class="" viewBox="0 0 20 19">
                                    <use xlink:href="img/sprite.svg#icon-compare"></use>
                                  </svg>
                                </button>
                              </div>
                            </div>
                            <div class="itemC__info">
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Расход в 1 слой</span>
                                <span class="swiper-no-swiping">1 л на 10 кв м</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Фасовка</span>
                                <span class="swiper-no-swiping">1 кг, 5 кг</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Состав</span>
                                <span class="swiper-no-swiping">Акриловая дисперсия, наполнители, технологические добавки, растворитель - вода</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Колеровка</span>
                                <span class="swiper-no-swiping">Водорастворимыми пигментными пастами</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Очистка инструмента</span>
                                <span class="swiper-no-swiping">Малярные инструменты очищают водой</span>
                              </div>
                              <div class="itemC__info--row">
                                <span class="swiper-no-swiping">Утилизация</span>
                                <span class="swiper-no-swiping">Тару утилизировать как бытовые отходы</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

