<div class="pageServiceOrganizations mb-150-primary">
  <div class="pageServiceOrganizations__container">

    <div class="pageServiceOrganizations__content">
      <div class="blockTabs primary">
        <div class="tabs tabs--primary">
          <ul class="tabs__nav tabs__nav--primary tabs__nav-to-dropdown">
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceOrganizations.html" class="tabs__nav-btn tabs__nav-btn--primary tabs__nav-btn--active" type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceBuilder.html" class="tabs__nav-btn tabs__nav-btn--primary"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceBuyers.html" class="tabs__nav-btn tabs__nav-btn--primary "
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceDesigner.html" class="tabs__nav-btn tabs__nav-btn--primary" type="button">Проектировщикам</a></li>
          </ul>
          <div class="tabs__content tabs__content--primary">
            <div class="tabs__panel tabs__panel--primary tabs__panel--active">
              <div class="blockServicePanel-primary pageServiceOrganizations__panel">
                <div class="pageServiceOrganizations__grid">
                  <div class="titleC secondary">
                    Торговым организациям
                  </div>
                  <div class="textC service">
                    <p>Краткая пояснителная информацию о том что здесь представлены линейки продукции, их каталоги и подробное описание.</p>
                  </div>
                  <div class="gridCom">
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-1.png" alt="">
                    </a>
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-2.png" alt="">
                    </a>
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-3.png" alt="">
                    </a>
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-4.png" alt="">
                    </a>
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-5.png" alt="">
                    </a>
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-6.png" alt="">
                    </a>
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-7.png" alt="">
                    </a>
                    <a href="serviceOrganization.html" class="itemCom">
                      <img src="./img/logo-service-8.png" alt="">
                    </a>
                  </div>
                </div>
                <div class="pageServiceOrganizations__recommendation">
                  <div class="RecommendationCom">
                    <div class="RecommendationCom__left">
                      <div class="titleC secondary desk">
                        Рекомендации
                      </div>
                      <div class="textC service">
                        <p>Краткая пояснителная информацию о том что здесь представлены линейки продукции, их каталоги и подробное описание.</p>
                      </div>
                      <div class="RecommendationCom__left--col">
                        <a href="#" target="_blank" download class="fileC primary">
                          <svg class="" viewBox="0 0 39 50">
                            <use xlink:href="img/sprite.svg#icon-pdf"></use>
                          </svg>
                          <span>Скачать архив фотографий линии “Будь здоров”.zip</span>
                        </a>
                        <a href="#" target="_blank" download class="fileC primary">
                          <svg class="" viewBox="0 0 39 50">
                            <use xlink:href="img/sprite.svg#icon-pdf"></use>
                          </svg>
                          <span>Скачать архив фотографий линии “Будь здоров”.zip</span>
                        </a>
                        <a href="#" target="_blank" download class="fileC primary">
                          <svg class="" viewBox="0 0 39 50">
                            <use xlink:href="img/sprite.svg#icon-pdf"></use>
                          </svg>
                          <span>Скачать архив фотографий линии “Будь здоров”.zip</span>
                        </a>
                      </div>
                    </div>
                    <div class="RecommendationCom__right">
                      <div class="titleC secondary tablet">
                        Рекомендации
                      </div>
                      <div class="blockSlider primary blockSlider-organizations">
                        <div class="blockSlider__buttons">
                          <button class="btn-reset blockSlider__arrow arrow-prev">
                            <i></i>
                          </button>
                          <button class="btn-reset blockSlider__arrow arrow-next">
                            <i></i>
                          </button>
                        </div>
                        <div class="swiper swiper-organizations">
                          <div class="swiper-wrapper">
                             <div class="swiper-slide">
                               <img src="./img/image-902-1.jpg" alt="">
                             </div>
                             <div class="swiper-slide">
                               <img src="./img/image-902-2.jpg" alt="">
                             </div>
                             <div class="swiper-slide">
                               <img src="./img/image-902-3.jpg" alt="">
                             </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pageServiceOrganizations__marketing">
                  <div class="MarketingCom">
                    <div class="titleC secondary">
                      Маркетинговая поддержка
                    </div>
                    <div class="textC service">
                      <p>Краткая пояснителная информацию о разделе.</p>
                    </div>
                    <div class="blockServiceGrid-3">
                      <a href="serviceBooklets.html" class="itemC service">
                        <img src="./img/image-marketting-1.jpg" alt="">
                        <span>Каталоги и буклеты</span>
                      </a>
                      <a href="serviceLogos.html" class="itemC service">
                        <img src="./img/image-marketting-2.jpg" alt="">
                        <span>Логотипы</span>
                      </a>
                      <a href="#" class="itemC service">
                        <img src="./img/image-marketting-3.jpg" alt="">
                        <span>Фотографии продукции</span>
                      </a>
                    </div>
                    <button class="btn-reset buttonC primary" data-feedback-open-bid>
                      Связаться с отделом маркетинга
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

