<div class="pageCompanyNews mb-150-primary">
  <div class="pageCompanyNews__container">

    <div class="pageCompanyNews__content">
      <div class="blockTabs primary">
        <div class="tabs tabs--primary">
          <ul class="tabs__nav tabs__nav--primary tabs__nav-to-dropdown">
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyAbout.html" class="tabs__nav-btn  tabs__nav-btn--primary" type="button">О
              компании</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyHistory.html" class="tabs__nav-btn tabs__nav-btn--primary"
                                                                  type="button">История</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyProduction.html" class="tabs__nav-btn  tabs__nav-btn--primary"
                                                                  type="button">Производство</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyNews.html" class="tabs__nav-btn tabs__nav-btn--primary tabs__nav-btn--active" type="button">Новости</a></li>
          </ul>
          <div class="tabs__content tabs__content--primary">
            <div class="tabs__panel tabs__panel--primary tabs__panel--active">
              <div class="pageCompanyNews__panel">
                <div class="titleC secondary">
                  Новости
                </div>
                <div class="pageCompanyNews__grid">
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-1.jpg" alt="">
                    <span>13.04.2021</span>
                    <h6>ЮБИЛЕЙ КОМПАНИИ - 25 ЛЕТ!</h6>
                    <p>31 марта мы отметили серьёзную дату, наша компания прошла 25-й год своей работы.</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-2.jpg" alt="">
                    <span>07.05.2020</span>
                    <h6>КРАСКА ДЛЯ ГАЗОНОВ ДЛЯ ВАШЕГО УЧАСТКА</h6>
                    <p>Мы серьезную работу, чтобы сделать такую краску, которая будет решать сразу комплекс задач.</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-3.jpg" alt="">
                    <span>20.01.23</span>
                    <h6>ЗАНЯТИЯ ДЛЯ ДИЗАЙНЕРОВ ИНТЕРЬЕРА</h6>
                    <p>Под конец октября, завод лакокрасочных материалов
                      «Бытхим», совместно с магазином отделочных</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-4.jpg" alt="">
                    <span>22.02.23</span>
                    <h6>КОМПАНИЯ БЫТХИМ «НАДЕЖНЫЙ ПАРТНЕР»</h6>
                    <p>В Красноярске вручены награды победителям регионального этапа федеральной акции Надежный Надежный Надежный Надежный</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-1.jpg" alt="">
                    <span>13.04.2021</span>
                    <h6>ЮБИЛЕЙ КОМПАНИИ - 25 ЛЕТ!</h6>
                    <p>31 марта мы отметили серьёзную дату, наша компания прошла 25-й год своей работы.</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-2.jpg" alt="">
                    <span>07.05.2020</span>
                    <h6>КРАСКА ДЛЯ ГАЗОНОВ ДЛЯ ВАШЕГО УЧАСТКА</h6>
                    <p>Мы серьезную работу, чтобы сделать такую краску, которая будет решать сразу комплекс задач.</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-3.jpg" alt="">
                    <span>20.01.23</span>
                    <h6>ЗАНЯТИЯ ДЛЯ ДИЗАЙНЕРОВ ИНТЕРЬЕРА</h6>
                    <p>Под конец октября, завод лакокрасочных материалов
                      «Бытхим», совместно с магазином отделочных</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-4.jpg" alt="">
                    <span>22.02.23</span>
                    <h6>КОМПАНИЯ БЫТХИМ «НАДЕЖНЫЙ ПАРТНЕР»</h6>
                    <p>В Красноярске вручены награды победителям регионального этапа федеральной акции Надежный Надежный Надежный Надежный</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-1.jpg" alt="">
                    <span>13.04.2021</span>
                    <h6>ЮБИЛЕЙ КОМПАНИИ - 25 ЛЕТ!</h6>
                    <p>31 марта мы отметили серьёзную дату, наша компания прошла 25-й год своей работы.</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-2.jpg" alt="">
                    <span>07.05.2020</span>
                    <h6>КРАСКА ДЛЯ ГАЗОНОВ ДЛЯ ВАШЕГО УЧАСТКА</h6>
                    <p>Мы серьезную работу, чтобы сделать такую краску, которая будет решать сразу комплекс задач.</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-3.jpg" alt="">
                    <span>20.01.23</span>
                    <h6>ЗАНЯТИЯ ДЛЯ ДИЗАЙНЕРОВ ИНТЕРЬЕРА</h6>
                    <p>Под конец октября, завод лакокрасочных материалов
                      «Бытхим», совместно с магазином отделочных</p>
                  </a>
                  <a href="companyNew.html" class="itemC News">
                    <img src="./img/block-news-4.jpg" alt="">
                    <span>22.02.23</span>
                    <h6>КОМПАНИЯ БЫТХИМ «НАДЕЖНЫЙ ПАРТНЕР»</h6>
                    <p>В Красноярске вручены награды победителям регионального этапа федеральной акции Надежный Надежный Надежный Надежный</p>
                  </a>
                </div>
                <div class="pageCompanyNews__row">
                  <button class="buttonC also btn-also">
                    Показать еще 15
                  </button>
                  <div class="pageCompanyNews__pagination">
                    <ul class="pagination primary">
                      <li class="page-item">
                        <a class="prev-max page-numbers arrow-btn" href="#">
                          <i></i>
                          <i></i>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="prev page-numbers arrow-btn" href="#">
                          <i></i>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-numbers" href="#">1</a>
                      </li>
                      <li class="page-item active">
                        <span aria-current="page" class="page-numbers current">2</span>
                      </li>
                      <li class="page-item">
                        <a class="page-numbers" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-numbers" href="#">4</a>
                      </li>
                      <li class="page-item">
                        <a class="page-numbers" href="#">5</a>
                      </li>
                      <li class="page-item">
                        <a class="next page-numbers" href="#" disabled="disabled">
                          <i></i>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="next-max page-numbers" href="#">
                          <i></i>
                          <i></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

