<div class="pageCompanyHistory mb-150-primary">
  <div class="pageCompanyHistory__container">

    <div class="pageCompanyHistory__content">
      <div class="blockTabs primary">
        <div class="tabs tabs--primary">
          <ul class="tabs__nav tabs__nav--primary tabs__nav-to-dropdown">
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyAbout.html" class="tabs__nav-btn tabs__nav-btn--primary" type="button">О
              компании</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyHistory.html" class="tabs__nav-btn tabs__nav-btn--primary tabs__nav-btn--active"
                                          type="button">История</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyProduction.html" class="tabs__nav-btn tabs__nav-btn--primary"
                                          type="button">Производство</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="companyNews.html" class="tabs__nav-btn tabs__nav-btn--primary" type="button">Новости</a></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageCompanyHistory__panel">
                <div class="blockSlider blockSlider-history secondary">
                  <div class="blockSlider__container">
                    <div class="blockSlider__content">
                      <div class="container">
                        <div class="blockSlider__row">
                          <div class="titleC secondary">
                            Самые популярные товары
                          </div>
                          <div class="blockSlider__buttons">
                            <button class="btn-reset blockSlider__arrow arrow-prev">
                              <i></i>
                            </button>
                            <div class="btn-reset blockSlider__arrow arrow-next">
                              <i></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container--width">
                        <div class="swiper swiper-history">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>1998 год</h6>
                                <p>
                                  Появляется Уральский производственный комплекс ООО НПО «Легион». Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи
                                  и телекоммуникаций, декоративного освещения
                                  и осветительных комплексов, высокомачтовых опор
                                  для освещения.
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>2002 год</h6>
                                <p>
                                  Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи и телекоммуникаций, декоративного освещения и осветительных комплексов, высокомачтовых опор для освещения.
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>2010 год</h6>
                                <p>
                                  Появляется Уральский производственный комплекс ООО НПО «Легион». Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи
                                  и телекоммуникаций, декоративного освещения
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>2011 год</h6>
                                <p>
                                  Появляется Уральский производственный комплекс ООО НПО «Легион». Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи и телекоммуникаций, декоративного освещения и осветительных комплексов, высокомачтовых опор
                                  для освещения.
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>1998 год</h6>
                                <p>
                                  Появляется Уральский производственный комплекс ООО НПО «Легион». Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи
                                  и телекоммуникаций, декоративного освещения
                                  и осветительных комплексов, высокомачтовых опор
                                  для освещения.
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>2002 год</h6>
                                <p>
                                  Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи и телекоммуникаций, декоративного освещения и осветительных комплексов, высокомачтовых опор для освещения.
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>2010 год</h6>
                                <p>
                                  Появляется Уральский производственный комплекс ООО НПО «Легион». Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи
                                  и телекоммуникаций, декоративного освещения
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="itemCom">
                                <h6>2011 год</h6>
                                <p>
                                  Появляется Уральский производственный комплекс ООО НПО «Легион». Основная деятельность компании: производство освещения для дорог, магистралей, развязок, опор сотовой связи и телекоммуникаций, декоративного освещения и осветительных комплексов, высокомачтовых опор
                                  для освещения.
                                </p>
                              </div>
                            </div>


                          </div>
                          <div class="swiper-pagination"></div>
                        </div>
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

