<div class="pageServiceBimModels mb-150-primary">
  <div class="pageServiceBimModels__container">

    <div class="pageServiceBimModels__content">
      <div class="blockTabs primary">
        <div class="tabs tabs--primary">
          <ul class="tabs__nav tabs__nav--primary tabs__nav-to-dropdown">
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceOrganizations.html" class="tabs__nav-btn tabs__nav-btn--primary" type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceBuilder.html" class="tabs__nav-btn tabs__nav-btn--primary"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceBuyers.html" class="tabs__nav-btn tabs__nav-btn--primary"
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><a href="serviceDesigner.html" class="tabs__nav-btn tabs__nav-btn--primary tabs__nav-btn--active" type="button">Проектировщикам</a></li>
          </ul>
          <div class="tabs__content tabs__content--primary">
            <div class="tabs__panel tabs__panel--primary tabs__panel--active">
              <div class="blockServicePanel-primary pageServiceBimModels__panel">
                <a class="blockBack-primary" href="serviceDesigner.html">
                  ← Назад
                </a>
                <div class="titleC secondary">
                  BIM-модели
                </div>
                <div class="blockServiceGrid-3">
                  <a href="#" target="_blank" class="itemC service">
                    <img src="./img/svg/image-model-1.svg" alt="">
                    <span>Стена внутренняя</span>
                  </a>
                  <a href="#" target="_blank" class="itemC service">
                    <img src="./img/svg/image-model-2.svg" alt="">
                    <span>Перекрытие (потолок-пол)</span>
                  </a>
                  <a href="#" target="_blank" class="itemC service">
                    <img src="./img/svg/image-model-3.svg" alt="">
                    <span>Стена внешняя (СУФ)</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

