<div class="pageCompanyAbout mb-150-primary">
  <div class="pageCompanyAbout__container">

    <div class="pageCompanyAbout__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item"><a href="companyAbout.html" class="tabs__nav-btn tabs__nav-btn--active" type="button">О
              компании</a></li>
            <li class="tabs__nav-item"><a href="companyHistory.html" class="tabs__nav-btn" type="button">История</a></li>
            <li class="tabs__nav-item"><a href="companyProduction.html" class="tabs__nav-btn" type="button">Производство</a></li>
            <li class="tabs__nav-item"><a href="companyNews.html" class="tabs__nav-btn" type="button">Новости</a></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageCompanyAbout__panel">
                <div class="pageCompanyAbout__panel--video">
                  <div class="videoC primary">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/uB44uFdOgik" title="Фильм о заводе POLYCHROME BH (БытХим)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                  </div>
                </div>
                <div class="textCom">
                  <h6>
                    Миссия компании
                  </h6>
                  <p>
                    Использование оборудования, сырья, передовых разработок и опыта известных мировых производителей ЛКМ позволяет постоянно совершенствовать качество и расширять географию продаж выпускаемой продукции.
                  </p>
                  <p>
                    Производство качественной лакокрасочной продукции нашим предприятием, признано лучшим и экологичным
                    для подготовительных и отделочных работ в строительстве.
                  </p>
                  <p>
                    Работая с нами, вы всегда сможете получить полный спектр услуг по подбору лакокрасочных материалов для ремонта
                    и строительства.
                  </p>
                  <div class="rowCom">
                    <a href="#" target="_blank" download class="fileC primary">
                      <svg class="" viewBox="0 0 39 50">
                        <use xlink:href="img/sprite.svg#icon-pdf"></use>
                      </svg>
                      <span>Презентация предприятия</span>
                    </a>
                    <a href="#" target="_blank" download class="fileC primary">
                      <svg class="">
                        <use xlink:href="img/sprite.svg#icon-pdf"></use>
                      </svg>
                      <span>Презентация предприятия</span>
                    </a>
                  </div>
                </div>
                <div class="blockNumber normal">
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      25 лет
                    </h6>
                    <p class="item__text">
                      Создаем качественную продукцию
                    </p>
                  </div>
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      340 +
                    </h6>
                    <p class="item__text">
                      Точек продаж по всей России
                    </p>
                  </div>
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      14033 +
                    </h6>
                    <p class="item__text">
                      Производим количество продукции в год
                    </p>
                  </div>
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      1200 м²
                    </h6>
                    <p class="item__text">
                      Общая площадь нашего производства
                    </p>
                  </div>
                </div>
               <div class="pageCompanyAbout__footer">
                 <div class="pageCompanyAbout__footer--container">
                   <div class="pageCompanyAbout__footer--left">
                     <div class="pageCompanyAbout__footer--title">
                       Широкий ассортимент лакокрасочной продукции
                       для обширногоспектра работ, удовлетворит любую стройку или ремонт в квартире
                     </div>
                     <a href="catalog.html" class="buttonC primary">
                       Каталог
                     </a>
                   </div>
                   <img class="pageCompanyAbout__footer--decor" src="./img/svg/icon-circle-big-1.svg" alt="">
                 </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

