<div class="pageHome">
  <div class="pageHome__container">
    <div class="sectionHomeHero">
      <div class="sectionHomeHero__container desk">
        <a href="#" class="itemCom itemCom--1">
          <img class="itemCom__image" src="./img/header-hero-1.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-1.svg" alt="">
          <p class="itemCom__word">
            Краски специального назначения
          </p>
        </a>
        <a href="#" class="itemCom itemCom--2">
          <img class="itemCom__image" src="./img/header-hero-3.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-2.svg" alt="">
          <p class="itemCom__word">
            Материалы для профессионалов
          </p>
        </a>
        <a href="#" class="itemCom itemCom--3">
          <img class="itemCom__image" src="./img/header-hero-4.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-3.svg" alt="">
          <p class="itemCom__word">
            Качество и доступность
          </p>
        </a>
        <a href="#" class="itemCom itemCom--4">
          <img class="itemCom__image" src="./img/header-hero-5.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-4.svg" alt="">
          <p class="itemCom__word">
            Материалы для профессионалов
          </p>
        </a>
        <a href="#" class="itemCom itemCom--5">
          <img class="itemCom__image" src="./img/header-hero-6.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-5.svg" alt="">
          <p class="itemCom__word">
            Экологичные умные краски
          </p>
        </a>
        <a href="#" class="itemCom itemCom--6">
          <img class="itemCom__image" src="./img/header-hero-7.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-6.svg" alt="">
          <p class="itemCom__word">
            Материалы для дерева
          </p>
        </a>
        <a href="#" class="itemCom itemCom--7">
          <img class="itemCom__image" src="./img/header-hero-8.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-7.svg" alt="">
          <p class="itemCom__word">
            Декоративные материалы
          </p>
        </a>
        <a href="#" class="itemCom itemCom--8">
          <img class="itemCom__image" src="./img/header-hero-9.jpg" alt="">
          <div class="itemCom__fon"></div>
          <img class="itemCom__logo" src="./img/svg/logo-home-hero-8.svg" alt="">
          <p class="itemCom__word">
            Высокое качество премиум сегмента
          </p>
        </a>
      </div>
      <div class="sectionHomeHero__container mobile">
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-1.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-1.svg" alt="">
            <p class="itemCom__word">
              Материалы для
              профессионалов
            </p>
          </div>
        </div>
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-2.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-2.svg" alt="">
            <p class="itemCom__word">
              Высокое качество
              премиум сегмента
            </p>
          </div>
        </div>
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-3.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-3.svg" alt="">
            <p class="itemCom__word">
              Качество и
              доступность
            </p>
          </div>
        </div>
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-4.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-4.svg" alt="">
            <p class="itemCom__word">
              Краски специального
              назначения
            </p>
          </div>
        </div>
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-5.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-5.svg" alt="">
            <p class="itemCom__word">
              Декоративные материалы
            </p>
          </div>
        </div>
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-6.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-6.svg" alt="">
            <p class="itemCom__word">
              Материалы для
              дерева
            </p>
          </div>
        </div>
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-7.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-7.svg" alt="">
            <p class="itemCom__word">
              Экологичные умные
              краски
            </p>
          </div>
        </div>
        <div class="itemCom">
          <img class="itemCom__image" src="./img/header-hero-mobile-8.jpg" alt="">
          <div class="itemCom__fon"></div>
          <div class="itemCom__row">
            <img class="itemCom__logo" src="./img/svg/logo-home-hero-mobile-8.svg" alt="">
            <p class="itemCom__word">
              Материалы для
              профессионалов
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sectionHomeVideo">
      <div class="sectionHomeVideo__container">
        <div class="container">
          <div class="sectionHomeVideo__content">
            <div class="titleC primary">
              Заголовок к видео 1
            </div>
            <div class="sectionHomeVideo__video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/uB44uFdOgik" title="Фильм о заводе POLYCHROME BH (БытХим)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
          <div class="sectionHomeVideo__buttons">
            <a href="#" class="buttonC mobileHome">отдел продаж</a>
            <a href="#" class="buttonC mobileHome">где купить</a>
            <a href="#" class="buttonC mobileHome">техподдержка</a>
            <a href="#" class="buttonC mobileHome">реквизиты</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blockNumber normal">
      <div class="itemCom">
        <h6 class="itemCom__number">
          25 лет
        </h6>
        <p class="item__text">
          Создаем качественную продукцию
        </p>
      </div>
      <div class="itemCom">
        <h6 class="itemCom__number">
          340 +
        </h6>
        <p class="item__text">
          Точек продаж по всей России
        </p>
      </div>
      <div class="itemCom">
        <h6 class="itemCom__number">
          14033 +
        </h6>
        <p class="item__text">
          Производим количество продукции в год
        </p>
      </div>
      <div class="itemCom">
        <h6 class="itemCom__number">
          1200 м²
        </h6>
        <p class="item__text">
          Общая площадь нашего производства
        </p>
      </div>
    </div>
    <div class="blockTabs primary">

        <div class="tabs tabs--primary" data-tabs="tabs-primary">
          <ul class="tabs__nav tabs__nav--primary tabs__nav-to-dropdown">
            <li class="tabs__nav-item tabs__nav-item--primary"><button class="tabs__nav-btn tabs__nav-btn--primary" type="button">Технологии</button></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><button class="tabs__nav-btn tabs__nav-btn--primary" type="button">Сырье</button></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><button class="tabs__nav-btn tabs__nav-btn--primary" type="button">Качество</button></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><button class="tabs__nav-btn tabs__nav-btn--primary" type="button">Сертификация</button></li>
            <li class="tabs__nav-item tabs__nav-item--primary"><button class="tabs__nav-btn tabs__nav-btn--primary" type="button">Производство</button></li>
          </ul>
          <div class="tabs__content tabs__content--primary">
            <div class="tabs__panel tabs__panel--primary">
              <div class="blockTabsPanel home">
                <div class="blockTabsPanel__content">
                  <div class="titleC primary">
                    Технологии
                  </div>
                  <div class="blockTabsPanel__box">
                    <div class="blockTabsPanel__box--left">
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 18 27">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-1"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Экологические чистые материалы
                          </div>
                          <div class="itemCom__text">
                            Наше предприятие использует только экологически чистое сырье и материалы. Безопасность продукции регулярно подтверждается независимой экспертизой.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 22">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-2"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Продукция специального назначения
                          </div>
                          <div class="itemCom__text">
                            Нашей компанией разработан широкий перечень продукции специального назначения. В частности материалы для защиты металла, материалы по дереву, специальные краски
                            для медицинских учреждений, материалы с максимальной стойкостью к стиранию под торговой маркой Aquastrong.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 21">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-3"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Решение эстетических задач
                          </div>
                          <div class="itemCom__text">
                            Совместно с компанией COLDEC Нидерланды освоен выпуск широкой линейки декоративных красок под торговой маркой ROLPLAST
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blockTabsPanel__box--right">
                      <img src="./img/svg/image-home-cicle-1.svg" class="image image-1" alt="">
                      <img src="./img/image-home-635-1.jpg" class="image image-2" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__panel--primary">
              <div class="blockTabsPanel home">
                <div class="blockTabsPanel__content">
                  <div class="titleC primary">
                    Сырье
                  </div>
                  <div class="blockTabsPanel__box">
                    <div class="blockTabsPanel__box--left">
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 18 27">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-1"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Экологические чистые материалы
                          </div>
                          <div class="itemCom__text">
                            Наше предприятие использует только экологически чистое сырье и материалы. Безопасность продукции регулярно подтверждается независимой экспертизой.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 22">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-2"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Продукция специального назначения
                          </div>
                          <div class="itemCom__text">
                            Нашей компанией разработан широкий перечень продукции специального назначения. В частности материалы для защиты металла, материалы по дереву, специальные краски
                            для медицинских учреждений, материалы с максимальной стойкостью к стиранию под торговой маркой Aquastrong.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 21">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-3"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Решение эстетических задач
                          </div>
                          <div class="itemCom__text">
                            Совместно с компанией COLDEC Нидерланды освоен выпуск широкой линейки декоративных красок под торговой маркой ROLPLAST
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blockTabsPanel__box--right">
                      <img src="./img/svg/image-home-cicle-1.svg" class="image image-1" alt="">
                      <img src="./img/image-home-635-1.jpg" class="image image-2" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__panel--primary">
              <div class="blockTabsPanel home">
                <div class="blockTabsPanel__content">
                  <div class="titleC primary">
                    Качество
                  </div>
                  <div class="blockTabsPanel__box">
                    <div class="blockTabsPanel__box--left">
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 18 27">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-1"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Экологические чистые материалы
                          </div>
                          <div class="itemCom__text">
                            Наше предприятие использует только экологически чистое сырье и материалы. Безопасность продукции регулярно подтверждается независимой экспертизой.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 22">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-2"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Продукция специального назначения
                          </div>
                          <div class="itemCom__text">
                            Нашей компанией разработан широкий перечень продукции специального назначения. В частности материалы для защиты металла, материалы по дереву, специальные краски
                            для медицинских учреждений, материалы с максимальной стойкостью к стиранию под торговой маркой Aquastrong.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 21">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-3"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Решение эстетических задач
                          </div>
                          <div class="itemCom__text">
                            Совместно с компанией COLDEC Нидерланды освоен выпуск широкой линейки декоративных красок под торговой маркой ROLPLAST
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blockTabsPanel__box--right">
                      <img src="./img/svg/image-home-cicle-1.svg" class="image image-1" alt="">
                      <img src="./img/image-home-635-1.jpg" class="image image-2" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__panel--primary">
              <div class="blockTabsPanel home">
                <div class="blockTabsPanel__content">
                  <div class="titleC primary">
                    Сертификация
                  </div>
                  <div class="blockTabsPanel__box">
                    <div class="blockTabsPanel__box--left">
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 18 27">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-1"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Экологические чистые материалы
                          </div>
                          <div class="itemCom__text">
                            Наше предприятие использует только экологически чистое сырье и материалы. Безопасность продукции регулярно подтверждается независимой экспертизой.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 22">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-2"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Продукция специального назначения
                          </div>
                          <div class="itemCom__text">
                            Нашей компанией разработан широкий перечень продукции специального назначения. В частности материалы для защиты металла, материалы по дереву, специальные краски
                            для медицинских учреждений, материалы с максимальной стойкостью к стиранию под торговой маркой Aquastrong.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 21">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-3"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Решение эстетических задач
                          </div>
                          <div class="itemCom__text">
                            Совместно с компанией COLDEC Нидерланды освоен выпуск широкой линейки декоративных красок под торговой маркой ROLPLAST
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blockTabsPanel__box--right">
                      <img src="./img/svg/image-home-cicle-1.svg" class="image image-1" alt="">
                      <img src="./img/image-home-635-1.jpg" class="image image-2" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__panel--primary">
              <div class="blockTabsPanel home">
                <div class="blockTabsPanel__content">
                  <div class="titleC primary">
                    Производство
                  </div>
                  <div class="blockTabsPanel__box">
                    <div class="blockTabsPanel__box--left">
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 18 27">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-1"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Экологические чистые материалы
                          </div>
                          <div class="itemCom__text">
                            Наше предприятие использует только экологически чистое сырье и материалы. Безопасность продукции регулярно подтверждается независимой экспертизой.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 22">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-2"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Продукция специального назначения
                          </div>
                          <div class="itemCom__text">
                            Нашей компанией разработан широкий перечень продукции специального назначения. В частности материалы для защиты металла, материалы по дереву, специальные краски
                            для медицинских учреждений, материалы с максимальной стойкостью к стиранию под торговой маркой Aquastrong.
                          </div>
                        </div>
                      </div>
                      <div class="itemCom">
                        <div class="itemCom__icon">
                          <svg class="" viewBox="0 0 20 21">
                            <use xlink:href="img/sprite.svg#icon-decor-tabs-home-3"></use>
                          </svg>
                        </div>
                        <div class="itemCom__box">
                          <div class="itemCom__title">
                            Решение эстетических задач
                          </div>
                          <div class="itemCom__text">
                            Совместно с компанией COLDEC Нидерланды освоен выпуск широкой линейки декоративных красок под торговой маркой ROLPLAST
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="blockTabsPanel__box--right">
                      <img src="./img/svg/image-home-cicle-1.svg" class="image image-1" alt="">
                      <img src="./img/image-home-635-1.jpg" class="image image-2" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="blockServiceLink primary">
      <div class="blockServiceLink__container">
        <div class="container">
          <div class="titleC primary">
            Сервисы
          </div>
        </div>
        <div class="blockServiceLink__content">
          <a href="#" class="itemCom itemCom--1">
            <div class="itemCom__fon"></div>
            <img src="./img/image-servise-1.jpg" alt="" class="itemCom__image">
            <div class="itemCom__word">
              <span>Визуальный конфигуратор</span>
              <p>Посмотрите, как будет выглядеть краска
                на стенах квартиры</p>
            </div>
          </a>
          <a href="#" class="itemCom itemCom--2">
            <div class="itemCom__cont">
              <div class="itemCom__cont__image">
                <img src="./img/svg/icon-culculator-1.svg" alt="" class="itemCom__image">
              </div>
            </div>
            <div class="itemCom__word">
              <span>Калькулятор</span>
              <p>Рассчитайте расход наших материалов на необходимую площадь</p>
            </div>
          </a>
          <a href="#" class="itemCom itemCom--3">
            <div class="itemCom__cont">
              <div class="itemCom__cont--blocks">
                <img src="./img/svg/icon-block-4.svg" alt="" class="image-block-4">
                <img src="./img/svg/icon-block-3.svg" alt="" class="image-block-3">
                <img src="./img/svg/icon-block-2.svg" alt="" class="image-block-2">
                <img src="./img/svg/icon-block-1.svg" alt="" class="image-block-1">
              </div>

            </div>
            <div class="itemCom__word">
              <span>BIM-модели</span>
              <p>Модели типов стен выполнены в виде системных семейств категорий</p>
            </div>
          </a>

        </div>
      </div>
    </div>
    <div class="blockSlider blockSlider-home primary">
      <div class="blockSlider__container">
        <div class="container">
          <div class="blockSlider__content">
            <div class="blockSlider__row">
              <div class="titleC primary">
                Самые популярные товары
              </div>
              <div class="blockSlider__buttons">
                <button class="btn-reset blockSlider__arrow arrow-prev">
                  <i></i>
                </button>
                <button class="btn-reset blockSlider__arrow arrow-next">
                  <i></i>
                </button>
              </div>
            </div>
            <div class="swiper swiper-home">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для бетонных полов Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-4.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Грунт по старой краске Ecoline
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-1.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для бетонных полов Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-2.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Лак по камню матовый Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-3.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Краска для льда Aquastrong
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="itemC product">
                    <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                      Запросить коммерческое предложение
                    </button>
                    <a href="#" class="itemC__image">
                      <img src="./img/image-slilder-4.png" alt="" class="">
                    </a>
                    <div class="itemC__row">
                      <a href="#" class="itemC__word">
                        Грунт по старой краске Ecoline
                      </a>
                      <button class="btn-reset itemC__button--compare">
                        <svg class="" viewBox="0 0 20 19">
                          <use xlink:href="img/sprite.svg#icon-compare"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blockSlider__center">
              <a href="catalog.html" class="buttonC blockSlider__button">
                Перейти в каталог
              </a>
              <a href="catalog.html" class="buttonC mobileHome">
                Перейти в каталог
              </a>
              <a href="compare.html" class="buttonC mobileHome">
                сравнение
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
