<div class="pageServiceLogos mb-150-primary">
  <div class="pageServiceLogos__container">
    <div class="pageServiceLogos__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item"><a href="serviceOrganizations.html" class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuilder.html" class="tabs__nav-btn"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuyers.html" class="tabs__nav-btn "
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item"><a href="serviceDesigner.html" class="tabs__nav-btn" type="button">Проектировщикам</a>
            </li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageServiceLogos__panel">
                <a class="blockBack-primary" href="serviceOrganizations.html">
                  ← Назад
                </a>
                <div class="pageServiceLogos__block">
                    <div class="titleC secondary">
                      Логотипы
                    </div>
                    <div class="tabs tabs-mini-buttons" data-tabs="tabs-mini-buttons">
                      <ul class="tabs__nav tabs-mini-buttons">
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Логотипы компании</button></li>
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Будь здоров</button></li>
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Aquastrong</button></li>
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Ecoline</button>
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Nevel silver</button></li>
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Nevel gold</button></li>
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Goodwood</button></li>
                        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">БытХим</button></li>
                      </ul>
                      <div class="tabs__content tabs-mini-buttons">
                        <div class="pageServiceLogos__block--main">
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-2.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-3.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-3.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-2.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-2.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-2.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-3.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-3.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-2.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-2.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-2.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-3.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                          <div class="tabs__panel">
                            <a href="#" download class="fileC primary">
                              <svg class="" viewBox="0 0 39 50">
                                <use xlink:href="img/sprite.svg#icon-zip"></use>
                              </svg>
                              <span>Скачать все логотипы компании.zip</span>
                            </a>
                            <div class="blockServiceGrid-3">
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-1.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                              <a href="#" download class="itemC service">
                                <img src="./img/mini-tabs-logo-3.png" alt="">
                                <span>Логотип горизонтальный .eps</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

