<div class="pageCalculator mb-150-primary">
  <div class="pageServiceHelpful__container">
    <div class="pageServiceHelpful__content">
      <div class="blockTabs primary calculator">
        <div class="tabs">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item"><a href="serviceOrganizations.html" class="tabs__nav-btn"
                                          type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuilder.html" class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuyers.html" class="tabs__nav-btn "
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item"><a href="serviceDesigner.html" class="tabs__nav-btn" type="button">Проектировщикам</a>
            </li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageServiceHelpful__panel">
                <a class="blockBack-primary" href="serviceBuilder.html">
                  ← Назад
                </a>
                <div class="blockCalc blockCalc--primary blockCalc--service">
                  <div class="titleC secondary">
                    Калькулятор расхода
                  </div>
                  <div class="blockCalc__container">
                    <div class="blockCalc__dropdown">
                      <div class="labelCom">
                        Выбор продукции
                      </div>
                      <div class="blockCalc__dropdown--input">
                        <input type="text" value="" readonly placeholder="Выберите продукт">
                        <div class="blockCalc__dropdown--menu" data-tabs="tabs-calc" data-simplebar data-simplebar-auto-hide="false">
                          <div class="tabs tabs--calc">
                            <ul class="tabs__nav">
                              <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Краски</button></li>
                              <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Грунты</button></li>
                              <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Шпаклевки</button></li>
                              <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Лаки</button></li>
                              <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Клеи</button></li>
                              <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Спец материалы</button></li>
                            </ul>
                            <div class="tabs__content">
                              <div class="tabs__panel">
                                <div class="options" data-simplebar data-simplebar-auto-hide="false">
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                </div>
                              </div>
                              <div class="tabs__panel">
                                <div class="options" data-simplebar data-simplebar-auto-hide="false">
                                  <option class="option" value="Шпаклевка для бетонных полов Aquastrong">Шпаклевка для бетонных полов Aquastrong</option>
                                  <option class="option" value="Шпаклевка для потолков Aquastrong">Шпаклевка для потолков Aquastrong</option>
                                  <option class="option" value="Шпаклевка для бетонных полов Aquastrong">Шпаклевка для бетонных полов Aquastrong</option>
                                  <option class="option" value="Шпаклевка для потолков Aquastrong">Шпаклевка для потолков Aquastrong</option>
                                  <option class="option" value="Шпаклевка для бетонных полов Aquastrong">Шпаклевка для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                </div>
                              </div>
                              <div class="tabs__panel">
                                <div class="options" data-simplebar data-simplebar-auto-hide="false">
                                  <option class="option" value="Лак для бетонных полов Aquastrong">Лак для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                </div>
                              </div>
                              <div class="tabs__panel">
                                <div class="options" data-simplebar data-simplebar-auto-hide="false">
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                </div>
                              </div>
                              <div class="tabs__panel">
                                <div class="options" data-simplebar data-simplebar-auto-hide="false">
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                </div>
                              </div>
                              <div class="tabs__panel">
                                <div class="options" data-simplebar data-simplebar-auto-hide="false">
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                  <option class="option" value="Краска для потолков Aquastrong">Краска для потолков Aquastrong</option>
                                  <option class="option" value="Краска для бетонных полов Aquastrong">Краска для бетонных полов Aquastrong</option>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="blockCalc__cont">
                      <div class="labelCom">
                        Размеры комнаты, м
                      </div>
                      <div class="blockCalc__cont--row">
                        <div class="inputC primary">
                          <input class="" type="num" placeholder="Ширина">
                        </div>
                        <div class="inputC primary">
                          <input type="num" placeholder="Длина">
                        </div>
                      </div>
                    </div>
                    <div class="blockCalc__cont">
                      <div class="labelCom">
                        Или ее периметр
                      </div>
                      <div class="inputC primary">
                        <input type="num" placeholder="Введите значение">
                      </div>
                    </div>
                  </div>
                  <div class="blockCalc__container--buttons">
                    <button class="buttonC primary buttonC--calc--main">
                      Расчитать
                    </button>
                    <div class="blockCalc__container--buttons--warning">
                      Не выбран продукт
                    </div>
                  </div>
                  <div class="blockCalc__result">
                    <div class="blockCalc__result--warning">
                      Внимание! Расход материала может изменяться в зависимости от степени подготовленности поверхности и выбранного инструмента.
                    </div>
                    <div class="blockCalc__answer blockCalc__answer--main">
                      <a href="" class="link-main">Краска акриловая МОЮЩАЯСЯ супербелая для бетонных полов Aquastrong</a>
                      <div class="blockCalc__answer--column">
                        <div class="blockCalc__answer--numbers">
                          <span>Объем для нанесения в один слой, л.:</span>
                          <span>145 660</span>
                        </div>
                        <div class="blockCalc__answer--numbers">
                          <span>Объем для нанесения в два слоя, л.:</span>
                          <span>295 295</span>
                        </div>
                      </div>
                    </div>
                    <div class="blockCalc__result--info">
                      <div class="blockCalc__result--info--title">
                        рекомендуем использовать вместе:
                      </div>
                    </div>
                    <div class="blockCalc__answer">
                      <a href="">Краска акриловая МОЮЩАЯСЯ супербелая для бетонных полов Aquastrong</a>
                      <div class="blockCalc__answer--column">
                        <div class="blockCalc__answer--numbers">
                          <span>Объем для нанесения в один слой, л.:</span>
                          <span>145 660</span>
                        </div>
                        <div class="blockCalc__answer--numbers">
                          <span>Объем для нанесения в два слоя, л.:</span>
                          <span>0</span>
                        </div>
                      </div>
                    </div>
                    <div class="blockCalc__answer">
                      <a href="">Краска акриловая МОЮЩАЯСЯ супербелая для бетонных полов Aquastrong</a>
                      <div class="blockCalc__answer--column">
                        <div class="blockCalc__answer--numbers">
                          <span>Объем для нанесения в один слой, л.:</span>
                          <span>145 660</span>
                        </div>
                        <div class="blockCalc__answer--numbers">
                          <span>Объем для нанесения в два слоя, л.:</span>
                          <span>295</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










