<div class="pageServiceBooklets mb-150-primary">
  <div class="pageServiceBooklets__container">
    <div class="pageServiceBooklets__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item"><a href="serviceOrganizations.html" class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuilder.html" class="tabs__nav-btn"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuyers.html" class="tabs__nav-btn "
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item"><a href="serviceDesigner.html" class="tabs__nav-btn" type="button">Проектировщикам</a>
            </li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageServiceBooklets__panel">
                <a class="blockBack-primary" href="serviceOrganizations.html">
                  ← Назад
                </a>
                <div class="pageServiceBooklets__block">
                    <div class="titleC secondary">
                      Каталоги и буклеты
                    </div>
                    <div class="pageServiceBooklets__block--grid">
                      <a href="#" download class="itemC service">
                        <img src="../img/image-buklets-1.png" alt="">
                        <span>Название буклета или каталога .pdf</span>
                      </a>
                      <a href="#" download class="itemC service">
                        <img src="../img/image-buklets-2.png" alt="">
                        <span>Название буклета или каталога .pdf</span>
                      </a>
                      <a href="#" download class="itemC service">
                        <img src="../img/image-buklets-3.png" alt="">
                        <span>Название буклета или каталога .pdf</span>
                      </a>
                      <a href="#" download class="itemC service">
                        <img src="../img/image-buklets-2.png" alt="">
                        <span>Название буклета или каталога .pdf</span>
                      </a>
                      <a href="#" download class="itemC service">
                        <img src="../img/image-buklets-3.png" alt="">
                        <span>Название буклета или каталога .pdf</span>
                      </a>
                      <a href="#" download class="itemC service">
                        <img src="../img/image-buklets-1.png" alt="">
                        <span>Название буклета или каталога .pdf</span>
                      </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

