<div class="pageServiceHelpful mb-150-primary">
  <div class="pageServiceHelpful__container">
    <div class="pageServiceHelpful__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item"><a href="serviceOrganizations.html" class="tabs__nav-btn"
                                          type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuilder.html" class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuyers.html" class="tabs__nav-btn "
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item"><a href="serviceDesigner.html" class="tabs__nav-btn" type="button">Проектировщикам</a>
            </li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="pageServiceHelpful__panel">
                <a class="blockBack-primary" href="serviceBuilder.html">
                  ← Назад
                </a>

                <div class="pageServiceHelpful__block">
                  <div class="titleC secondary">
                    Полезная информация о продукции
                  </div>
                  <p>Возможность написать текстом все что необходимо здесь написать. Например, Завод лакокрасочных материалов БЫТХИМ –
                    это производитель с 25-летним опытом производства лакокрасочных материалов. Со своей производственной и ресурсной базой. Опытом лабораторных исследований и собственных разработок. Широким кругом партнеров. Политикой качества.</p>
                  <p>Компания производит продукт, востребованный на российском и зарубежном рынке.</p>
                  <p>Наименование Polychrome BH состоит из двух частей. BH – это такой мостик из прошлого, который соединяет нас с прошлым названием БытХим. Слово polychrome - многоцветие, которое пришло в обиход со времен древних греков. В искусстве полихромия - это «практика украшения архитектурных элементов, скульптуры и т. д. различными цветами». Термин полихромия существует и в физике в разделе оптики, и в химии как один из химических элементов, и в других областях. Кроме того, слово polychrome существует во многих языках. Соответственно будет знакомо и понятно людям в разных странах.</p>
                  <p>Возможность написать текстом все что необходимо здесь написать. Например, Завод лакокрасочных материалов БЫТХИМ –
                    это производитель с 25-летним опытом производства лакокрасочных материалов. Со своей производственной и ресурсной базой. Опытом лабораторных исследований и собственных разработок. Широким кругом партнеров. Политикой качества. Компания производит продукт, востребованный на российском и зарубежном рынке. Наименование Polychrome BH состоит из двух частей. BH – это такой мостик из прошлого, который соединяет нас с прошлым названием БытХим.</p>
                  <p>
                    Слово polychrome - многоцветие, которое пришло в обиход со времен древних греков. В искусстве полихромия - это «практика украшения архитектурных элементов, скульптуры и т. д. различными цветами». Термин полихромия существует и в физике в разделе оптики, и в химии как один из химических элементов, и в других областях. Кроме того, слово polychrome существует во многих языках. Соответственно будет знакомо и понятно людям в разных странах.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










