<div class="pageServiceDesigner mb-150-primary">
  <div class="pageServiceDesigner__container">

    <div class="pageServiceDesigner__content">
      <div class="blockTabs primary">
        <div class="tabs">
          <ul class="tabs__nav">
            <li class="tabs__nav-item"><a href="serviceOrganizations.html" class="tabs__nav-btn" type="button">Торговым организациям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuilder.html" class="tabs__nav-btn"
                                          type="button">Строителям</a></li>
            <li class="tabs__nav-item"><a href="serviceBuyers.html" class="tabs__nav-btn"
                                          type="button">Покупателям</a></li>
            <li class="tabs__nav-item"><a href="serviceDesigner.html" class="tabs__nav-btn tabs__nav-btn--active" type="button">Проектировщикам</a></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel tabs__panel--active">
              <div class="blockServicePanel-primary pageServiceDesigner__panel">
                <div class="blockServiceText-primary">
                  <div class="titleC secondary">
                    Проектировщикам
                  </div>
                  <div class="textC service">
                    <p>Краткая пояснителная информацию о разделе.</p>
                  </div>
                </div>
                <div class="blockNumber normal">
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      25 лет
                    </h6>
                    <p class="item__text">
                      Создаем качественную продукцию
                    </p>
                  </div>
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      340 +
                    </h6>
                    <p class="item__text">
                      Точек продаж по всей России
                    </p>
                  </div>
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      14033 +
                    </h6>
                    <p class="item__text">
                      Производим количество продукции в год
                    </p>
                  </div>
                  <div class="itemCom">
                    <h6 class="itemCom__number">
                      1200 м²
                    </h6>
                    <p class="item__text">
                      Общая площадь нашего производства
                    </p>
                  </div>
                </div>
                <div class="blockServiceGrid-2">
                  <a href="#" class="itemC service">
                    <img src="../img/svg/image-903-2.svg" alt="">
                    <span>BIM-модели</span>
                  </a>
                  <a href="#" class="itemC service">
                    <img src="../img/svg/image-903-1.svg" alt="">
                    <span>Сертификаты</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

