<div class="pageContact mb-150-primary">
  <div class="pageContact__container">
    <div class="pageContact__content">
      <div class="blockTabs primary">
        <div class="tabs" data-tabs="tabs-primary">
          <ul class="tabs__nav tabs__nav-to-dropdown">
            <li class="tabs__nav-item"><button class="tabs__nav-btn tabs__nav-btn--active"
                                          type="button">Контакты</button></li>
            <li class="tabs__nav-item"><button class="tabs__nav-btn"
                                          type="button">Где купить?</button></li>
          </ul>
          <div class="tabs__content">
            <div class="tabs__panel">
                <div class="pageContact__panel">
                  <div class="pageContact__panel--container pageContact__panel--container--one">
                    <div class="pageContact__panel--left">
                      <div class="pageContact__panel--buttons">
                        <button class="buttonC pageContact__button pageContact__button--1 pageContact__button--active" data-contact-btn="one">
                          Отдел Продаж
                        </button>
                        <button class="buttonC pageContact__button pageContact__button--2" data-contact-btn="two">
                          Производство
                        </button>
                      </div>
                      <div class="pageContact__info pageContact__info--1 pageContact__info--active" data-contact-info="one">
                        <div class="pageContact__info--box">
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="20" viewBox="0 0 20 20">
                              <use xlink:href="img/sprite.svg#icon-map"></use>
                            </svg>
                            <span>660093 г. Красноярск, ул. Вавилова 2д, стр. 2</span>
                          </div>
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="20" viewBox="0 0 20 20">
                              <use xlink:href="img/sprite.svg#icon-tel"></use>
                            </svg>
                            <span><a href="tel:+7 (391) 226-50-65">+7 (391) 226-50-65</a><span class="separator">,</span><a href="tel:+7 (391) 290-40-54">+7 (391) 290-40-54</a></span>
                          </div>
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="17" viewBox="0 0 20 17">
                              <use xlink:href="img/sprite.svg#icon-message"></use>
                            </svg>
                            <span><a href="">info@bythim.ru</a></span>
                          </div>
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="20" viewBox="0 0 20 20">
                              <use xlink:href="img/sprite.svg#icon-time"></use>
                            </svg>
                            <span>Пн-Пт: 8.00 - 17.00 (Красноярск)</span>
                          </div>
                        </div>
                        <div class="pageContact__info--time">
                          <span>Сейчас в Красноярске:</span><span>13:54</span>
                        </div>
                      </div>
                      <div class="pageContact__info pageContact__info--2" data-contact-info="two">
                        <div class="pageContact__info--box">
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="20" viewBox="0 0 20 20">
                              <use xlink:href="img/sprite.svg#icon-map"></use>
                            </svg>
                            <span>660093 г. Красноярск, ул. Вавилова 213д, стр. 2</span>
                          </div>
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="20" viewBox="0 0 20 20">
                              <use xlink:href="img/sprite.svg#icon-tel"></use>
                            </svg>
                            <span><a href="tel:+7 (391) 226-50-65">+7 (391) 226-50-65</a><span class="separator">,</span><a href="tel:+7 (391) 290-40-54">+7 (391) 290-40-54</a></span>
                          </div>
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="17" viewBox="0 0 20 17">
                              <use xlink:href="img/sprite.svg#icon-message"></use>
                            </svg>
                            <span><a href="mailto:info@bythim.ru">info@bythim.ru</a></span>
                          </div>
                          <div class="pageContact__info--row">
                            <svg class="" width="20" height="20" viewBox="0 0 20 20">
                              <use xlink:href="img/sprite.svg#icon-time"></use>
                            </svg>
                            <span>Пн-Пт: 8.00 - 17.00 (Красноярск)</span>
                          </div>
                        </div>
                        <div class="pageContact__info--time">
                          <span>Сейчас в Красноярске:</span><span>18:12</span>
                        </div>
                      </div>
                    </div>
                    <div class="pageContact__panel--right">
                      <div class="pageContact__map pageContact__map--1 pageContact__map--active" data-contact-map="one">
                        <iframe src="https://yandex.com/map-widget/v1/?um=constructor%3Afc1c89ad26b7d5eb29014f43b8e71be26cc8e639099dec16840bfab0e1d802c8&amp;source=constructor" width="" height="" frameborder="0"></iframe>
                      </div>
                      <div class="pageContact__map pageContact__map--2" data-contact-map="two">
                        <iframe src="https://yandex.com/map-widget/v1/?um=constructor%3Afc1c89ad26b7d5eb29014f43b8e71be26cc8e639099dec16840bfab0e1d802c8&amp;source=constructor" width="" height="" frameborder="0"></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="pageContact__panel--bottom">
                    <div class="titleC secondary centered">
                      Реквизиты компании
                    </div>
                    <div class="pageContact__props">
                      <div class="pageContact__props--row">
                        <span>Полное наименование организации</span><span>Общество с ограниченной ответственностью «БЫТХИМ»</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>ОГРН</span><span>1036603549278</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>ИНН</span><span>6670045047</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>Адрес местонахождения</span><span>620024, Свердловская обл., г. Екатеринбург, ш. Елизаветинское, д.29</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>КПП</span><span>667901001</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>Банковские реквизиты</span><span>Уральский филиал АО «Райффайзенбанк»</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>БИК</span><span>046 577 906</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>к/с</span><span>30101810100000000906</span>
                      </div>
                      <div class="pageContact__props--row">
                        <span>р/с</span><span>40702810604000005097</span>
                      </div>
                    </div>
                    <div class="pageContact__docs">
                      <a href="#" target="_blank" download class="fileC primary">
                        <svg class="" viewBox="0 0 39 50">
                          <use xlink:href="img/sprite.svg#icon-doc"></use>
                        </svg>
                        <span>Скачать реквизиты.doc</span>
                      </a>
                      <a href="#" target="_blank" download class="fileC primary">
                        <svg class="" viewBox="0 0 39 50">
                          <use xlink:href="img/sprite.svg#icon-pdf"></use>
                        </svg>
                        <span>Скачать реквизиты.pdf</span>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tabs__panel">
              <div class="pageContact__panel">
                <div class="blockBigMap">
                  <div class="blockBigMap__container">
                    <div class="blockBigMap__map">
                      <iframe src="https://yandex.com/map-widget/v1/?um=constructor%3Afc1c89ad26b7d5eb29014f43b8e71be26cc8e639099dec16840bfab0e1d802c8&amp;source=constructor" width="100%" height="" frameborder="0"></iframe>
                    </div>
                  </div>
                  <div class="pageServiceCertificates__block">
                    <div class="pageServiceCertificates__block--left">
                      <div class="filterC primary">
                        <button class="btn-reset filterC__button">
                          фильтры
                        </button>
                        <div class="filterC__block">
                          <div class="filterC__block--name">
                            Фильтры
                          </div>
                          <div class="filterC__block--dropdowns">
                            <div class="dropdownC dropdownC--filters">
                              <button class="btn-reset dropdownC__btn">
                                По региону
                              </button>
                              <ul class="dropdownC__nav">
                                <li class="dropdownC__item">
                                  <div class="checkboxC checkboxC--primary">
                                    <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d1">
                                    <label class="checkboxC__label" for="d1">Москва</label>
                                  </div>
                                </li>
                                <li class="dropdownC__item">
                                  <div class="checkboxC checkboxC--primary">
                                    <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d3">
                                    <label class="checkboxC__label" for="d3">Санкт-Петербург</label>
                                  </div>
                                </li>
                                <li class="dropdownC__item">
                                  <div class="checkboxC checkboxC--primary">
                                    <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="d4">
                                    <label class="checkboxC__label" for="d4">Екатеринбург</label>
                                  </div>
                                </li>

                              </ul>
                            </div>
                            <div class="dropdownC dropdownC--filters">
                              <button class="btn-reset dropdownC__btn">
                                <span>Розница/опт</span>
                              </button>
                              <ul class="dropdownC__nav">
                                <li class="dropdownC__item">
                                  <div class="checkboxC checkboxC--primary">
                                    <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="b1">
                                    <label class="checkboxC__label" for="b1">Розница</label>
                                  </div>
                                </li>
                                <li class="dropdownC__item">
                                  <div class="checkboxC checkboxC--primary">
                                    <input class="checkboxC__input" name="privacy_policy" type="checkbox" value="" id="b3">
                                    <label class="checkboxC__label" for="b3">Опт</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <button class="btn-reset filterC__block--cancel">
                            Сбросить фильтры
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="pageServiceCertificates__block--right">
                      <div class="blockCities">
                        <div class="blockCities__block">
                          <div class="titleC third">
                            Москва
                          </div>
                          <div class="blockCities__container">
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="blockCities__block">
                          <div class="titleC third">
                            Екатеринбург
                          </div>
                          <div class="blockCities__container">
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="blockCities__block">
                          <div class="titleC third">
                            Санкт-Петербург
                          </div>
                          <div class="blockCities__container">
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                            <div class="itemCom">
                              <div class="itemCom__title">
                                <svg class="" width="20" height="20" viewBox="0 0 20 20">
                                  <use xlink:href="img/sprite.svg#icon-map"></use>
                                </svg>
                                <span>ТРЦ «МЕГА Москва»</span>
                              </div>
                              <div class="itemCom__container">
                                <div class="itemCom__address">
                                  Москва, ул. Металлургов, д. 87, ТРЦ «МЕГА Москва»
                                </div>
                                <div class="itemCom__links">
                                  <a href="tel:8 800 433-4345">8 800 433-4345</a>
                                  <a href="mailto:Info@mega.ru">Info@mega.ru</a>
                                  <a href="#">mega.ru</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

