<div class="pageSearch mb-150-primary">
  <div class="pageSearch__container">
    <div class="container">
      <div class="pageSearch__search">
        <div class="pageSearch__search--box">
        </div>
        <div class="pageSearch__search--row">
          <div class="inputC primary">
            <input value="краски" placeholder="начните поиск" type="text">
          </div>
          <button class="buttonC primary">найти</button>
        </div>
      </div>
    </div>
    <div class="pageSearch__content">
      <div class="blockTabs primary">
        <div class="tabs tabs--primary" data-tabs="tabs-primary">
          <ul class="tabs__nav tabs__nav--primary tabs__nav-to-dropdown">
            <li class="tabs__nav-item tabs__nav-item--primary">
              <button class="tabs__nav-btn tabs__nav-btn--primary" type="button">
                <span class="pageSearch__button">
                  <span class="pageSearch__button--row">
                    <svg class="" width="22" height="22" viewBox="0 0 22 22">
                      <use xlink:href="img/sprite.svg#icon-union"></use>
                    </svg>
                    <span>каталог</span>
                  </span>
                  <span> </span>
                  <span class="pageSearch__button--number">(36)</span>
                </span>
              </button>
            </li>
            <li class="tabs__nav-item tabs__nav-item--primary">
              <button class="tabs__nav-btn tabs__nav-btn--primary" type="button">
                <span class="pageSearch__button">
                  <span class="pageSearch__button--row">
                    <svg class="" width="22" height="21" viewBox="0 0 22 21">
                      <use xlink:href="img/sprite.svg#icon-book"></use>
                    </svg>
                    <span>Информационные страницы</span>
                  </span>
                  <span> </span>
                  <span class="pageSearch__button--number">(2)</span>
                </span>
              </button>
            </li>
          </ul>
          <div class="tabs__content tabs__content--primary">
            <div class="tabs__panel tabs__panel--primary">
              <div class="pageSearch__panel">
                <div class="pageSearch__panel--result">
                  <span>По Вашему запросу нашлось:</span><span>36 результатов в разделе “Каталог”.</span>
                </div>
                <div class="pageSearch__panel--catalog">
                  <div class="blockGrid blockGrid--catalog blockGrid--catalog--search">
                    <div class="blockGrid__content">
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-3.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Лак по камню матовый Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-1.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-2.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-3.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-1.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-2.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-3.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-1.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-2.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-3.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-1.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <div class="itemC product">
                        <button class="btn-reset itemC__button--price" data-feedback-open-bid>
                          Запросить коммерческое предложение
                        </button>
                        <a href="#" class="itemC__image">
                          <img src="./img/image-slilder-2.png" alt="" class="">
                        </a>
                        <div class="itemC__row">
                          <a href="#" class="itemC__word">
                            Краска для льда Aquastrong
                          </a>
                          <button class="btn-reset itemC__button--compare">
                            <svg class="" viewBox="0 0 20 19">
                              <use xlink:href="img/sprite.svg#icon-compare"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="pageCompanyNews__row">
                      <button class="buttonC also btn-also">
                        Показать еще 15
                      </button>
                      <div class="pageCompanyNews__pagination">
                        <ul class="pagination primary">
                          <li class="page-item">
                            <a class="page-numbers" href="#">1</a>
                          </li>
                          <li class="page-item active">
                            <span aria-current="page" class="page-numbers current">2</span>
                          </li>
                          <li class="page-item">
                            <a class="page-numbers" href="#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-numbers" href="#">4</a>
                          </li>
                          <li class="page-item">
                            <a class="page-numbers" href="#">5</a>
                          </li>
                          <li class="page-item">
                            <a class="next page-numbers" href="#" disabled="disabled">
                              <i></i>
                            </a>
                          </li>
                          <li class="page-item">
                            <a class="next-max page-numbers" href="#">
                              <i></i>
                              <i></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__panel--primary">
              <div class="pageSearch__panel">
                <div class="pageSearch__panel--result">
                  <span>По Вашему запросу нашлось:</span><span>2 результатов в разделе “Информационные страницы”.</span>
                </div>
                <div class="pageSearch__panel--boxes">
                  <div class="itemCom">
                    <div class="breadcrumbs primary">
                      <span class="first-item">Помощь</span>
                      <span class="separator">-</span>
                      <span class="0-item">Диллерам</span>
                      <span class="separator">-</span>
                      <span class="last-item">Линия “Будь здоров”</span>
                    </div>
                    <div class="itemCom__title">Линия “Будь здоров”</div>
                    <div class="itemCom__text">
                      ... Например, Завод лакокрасочных материалов БЫТХИМ – это производитель с 25-летним опытом производства <mark>краски</mark> и других лакокрасочных материалов. Со своей производственной и ресурсной базой. Опытом лабораторных исследований и собственных разработок. Широким кругом ...
                    </div>
                    <a href="#" class="buttonC primary">
                      Подробнее
                    </a>
                  </div>
                  <div class="itemCom">
                    <div class="breadcrumbs primary">
                      <span class="first-item">О компании</span>
                      <span class="separator">-</span>
                      <span class="0-item">Новости</span>
                      <span class="separator">-</span>
                      <span class="last-item">Polychrome bh – new!</span>
                    </div>
                    <div class="itemCom__title">Polychrome bh – new!</div>
                    <div class="itemCom__text">
                      ... Например, Завод лакокрасочных материалов БЫТХИМ – это производитель с 25-летним опытом производства <mark>краски</mark> и других лакокрасочных материалов. Со своей производственной и ресурсной базой. Опытом лабораторных исследований и собственных разработок. Широким кругом ...
                    </div>
                    <a href="#" class="buttonC primary">
                      Подробнее
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

