html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-family: "Aquawax Pro", sans-serif;
  line-height: 1.5;
  color: var(--black-primary);
  font-weight: 400;
  background: var(--white-primary);
}

img {
  height: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  transition: all 0.2s ease;
}

svg {
  transition: all 0.2s ease;
}

input {
  transition: all 0.2s ease;
}



a {
  text-decoration: none;
  transition: all 0.2s ease;
}

button {
  transition: all 0.2s ease;
  box-sizing: border-box;
}

input,textarea {
  outline: none;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.site-container {
  overflow: hidden;

}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @include tablet {
    padding: 0 15px;
  }
}

.container--width {
  padding-left: max(50px, (100% - var(--content-width)) / 2);

  @include tablet {
    padding-left: max(15px, (100% - var(--content-width)) / 2);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.display-none {
  display: none !important;
}

.container-minus-header {

  height: calc(100vh - var(--height-header-desk));

  @include big-desktop {
    height: calc(100vh - var(--height-header-laptop));
  }

  @include min-desktop {
    height: calc(100vh - var(--height-header-laptop-min));
  }

  @include tablet {
    height: calc(100vh - var(--height-header-tablet));
  }
}
