
:root {
  // base
  --font-family: "Aquawax Pro", sans-serif;
  --content-width: 1870px;
  --container-offset: 50px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-primary: #fff;
  --white-secondary: #F9F9F9;
  --white-secondary-hover: #F0F0F0;
  --white-third: #EAEBEC;

  --black-primary: #424A52;
  --black-secondary: #303E47;
  --black-third: #505A63;
  --black-fourth: #343A41;

  --red-primary: #D61C38;
  --red-primary-hover: #BD1831;
  --red-error: #FFE4E8;


  // z-index
  --z-header-search: 11;
  --z-header-sub: -1;
  --z-header-sub-footer: 1;
  --z-header-feedback-close: 1;
  --z-header-fixed: 4;
  --z-feedback: 6;
  --z-menu: 5;
  --z-index-tabs-dropdown: 3;
  --z-index-option: 3;
  --z-index-button-item-catalog: 3;
  --z-buttons-swiper-organizations: 3;

  // height

  --height-header-desk: 157.39px;
  --height-header-laptop: 151.45px;
  --height-header-laptop-min: 209.25px;
  --height-header-tablet: 81px;

}
